[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiosignal = "==1.3.1"
asgiref = "*"
async-timeout = "*"
attrs = "*"
autobahn = "==23.6.2"
automat = "==22.10.0"
black = "*"
boto3 = "==1.4.4"
botocore = "==1.5.95"
cattrs = "==23.1.2"
certifi = "*"
cffi = "==1.15.1"
charset-normalizer = "==3.1.0"
click = "==8.1.3"
constantly = "==15.1.0"
contourpy = "==1.1.0"
cryptography = "==41.0.1"
cycler = "==0.11.0"
daphne = "*"
defusedxml = "==0.7.1"
dj-database-url = "==2.0.0"
django = "==4.2.5"
django-crispy-forms = "==2.0"
django-schema-graph = "==3.1.0"
django-storages = "*"
django-templated-mail = "==1.1.1"
django-widget-tweaks = "==1.4.12"
djangorestframework = "==3.14.0"
djangorestframework-simplejwt = "==5.2.2"
djoser = "==2.2.0"
docutils = "*"
et-xmlfile = "==1.1.0"
exceptiongroup = "==1.1.1"
fonttools = "*"
fpdf = "==1.7.2"
frozenlist = "==1.3.3"
gunicorn = "*"
h11 = "*"
hyperlink = "*"
idna = "*"
incremental = "==22.10.0"
jmespath = "==0.10.0"
kiwisolver = "==1.4.4"
matplotlib = "==3.7.1"
multidict = "==6.0.4"
mypy-extensions = "==1.0.0"
numpy = "==1.25.0"
oauthlib = "==3.2.2"
openai = "==0.27.8"
openpyxl = "==3.1.2"
packaging = "==23.1"
pandas = "==2.0.3"
pathspec = "==0.11.1"
pillow = "==10.0.0"
platformdirs = "==3.6.0"
psycopg2-binary = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "==2.21"
pyjwt = "*"
pyopenssl = "*"
pyparsing = "*"
python-dateutil = "==2.8.2"
python-dotenv = "==1.0.0"
python3-openid = "==3.2.0"
pytz = "==2023.3"
requests = "*"
requests-oauthlib = "*"
s3transfer = "==0.1.13"
service-identity = "==23.1.0"
six = "==1.16.0"
social-auth-app-django = "==5.2.0"
social-auth-core = "==4.4.2"
sqlparse = "*"
tomli = "==2.0.1"
tqdm = "==4.65.0"
twisted = "==22.10.0"
txaio = "*"
typing-extensions = "==4.6.3"
tzdata = "==2023.3"
urllib3 = "*"
uvicorn = "*"
whitenoise = "==6.5.0"
xlsxwriter = "*"
yarl = "==1.9.2"
"zope.interface" = "==6.0"
pypdf2 = "==3.0.1"
reportlab = "==4.0.4"
dateparser = "*"
django-cors-headers = "==4.2.0"
fitz = "*"
pymupdf = "*"
bcrypt = "*"
pytelegrambotapi = "*"
httplib2 = "*"
simplejson = "*"
networkx = "*"

[dev-packages]

[requires]
python_version = "3.10"
