[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
pillow = "==10.2.0"
django = "==5.0.2"
twisted = "==23.10.0"
aiohttp = "==3.9.3"
attrs = "==23.2.0"
bcrypt = "==4.1.2"
black = "==24.2.0"
cattrs = "==23.2.3"
certifi = "==2024.2.2"
cffi = "==1.16.0"
charset-normalizer = "==3.3.2"
constantly = "==23.10.4"
contourpy = "==1.2.0"
cryptography = "==42.0.4"
cycler = "==0.12.1"
daphne = "==4.1.0"
dateparser = "==1.2.0"
dj-database-url = "==2.1.0"
django-cors-headers = "==4.3.1"
django-crispy-forms = "==2.1"
django-storages = "==1.14.2"
django-widget-tweaks = "==1.5.0"
djangorestframework-simplejwt = "==5.3.1"
djoser = "==2.2.2"
etelemetry = "==0.3.1"
exceptiongroup = "==1.2.0"
filelock = "==3.13.1"
fonttools = "==4.49.0"
frozenlist = "==1.4.1"
idna = "==3.6"
jmespath = "==1.0.1"
kiwisolver = "==1.4.5"
lxml = "==5.1.0"
matplotlib = "==3.8.3"
multidict = "==6.0.5"
networkx = "==3.2.1"
nibabel = "==5.2.0"
openai = "==1.12.0"
packaging = "==23.2"
pathspec = "==0.12.1"
pyopenssl = "==24.0.0"
pytelegrambotapi = "==4.16.1"
pyasn1 = "==0.5.1"
pydot = "==2.0.0"
python-dotenv = "==1.0.1"
pytz = "==2024.1"
pyxnat = "==1.6.2"
regex = "==2023.12.25"
reportlab = "==4.1.0"
s3transfer = "==0.10.0"
scipy = "==1.12.0"
service-identity = "==24.1.0"
simplejson = "==3.19.2"
social-auth-app-django = "==5.4.0"
social-auth-core = "==4.5.3"
tqdm = "==4.66.2"
traits = "==6.4.3"
typing-extensions = "==4.9.0"
tzdata = "==2024.1"
tzlocal = "==5.2"
uvicorn = "==0.27.1"
whitenoise = "==6.6.0"
yarl = "==1.9.4"
"zope.interface" = "==6.2"
anyio = "==4.3.0"
httpcore = "==1.0.3"
setuptools = "==69.1.0"
gunicorn = "*"
django-schema-graph = "*"
channels = "*"
psycopg2-binary = "*"
openpyxl = "*"
fpdf = "*"
pandas = "*"
fitz = "*"
pymupdf = "*"
xlrd = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.7"
