{% extends 'vertrieb/base.html' %}

{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% load widget_tweaks %}


<!DOCTYPE html>
<html lang="de">

{% block head %}
   
        <meta charset="utf-8" />
        <title>Home | Juno-Solar Administration Tool</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <!-- Theme Config Js -->
        <script src="{% static 'assets/js/hyper-config.js' %}"></script>

        <!-- App css -->
        <link href="{% static 'assets/css/app-saas.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />

        <!-- Icons css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />  

{% endblock %}

{% block content %}
{% if form.errors %}
  <div class="alert alert-danger">
    Please correct the following errors:<ul>
      {% for field in form %}
        {% if field.errors %}
          <li>{{ field.label }} - {{ field.errors.0 }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}

                                        <!-- MAIN CONTAINER & TABS HEAD -->
<!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->
<body>
<div class="content-page">
  <div class="content">

    <!-- Start Content-->
    <div class="container-fluid">            
                    <!-- start page title -->
                  <div class="col-7">
                      <div class="page-title-box">
                          <h4 class="page-title">Elektriker Home Seite</h4>
                      </div>
                  </div>
        <div class="row">
            <ul class="nav nav-tabs nav-justified nav-bordered mb-3">
              <li class="nav-item">
                  <a href="#info-b2" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                      <i class="mdi mdi-home-variant d-md-none d-block"></i>
                      <span class="d-none d-md-block">Info</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="#wallbox-b2" data-bs-toggle="tab" aria-expanded="true" class="nav-link active">
                      <i class="mdi mdi-account-circle d-md-none d-block"></i>
                      <span class="d-none d-md-block">Wallbox</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="#module-b2" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                      <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                      <span class="d-none d-md-block">Module & Zubehör</span>
                  </a>
              </li>
              <li class="nav-item">
                <a href="#ticket-b2" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                    <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                    <span class="d-none d-md-block">Ticket</span>
                </a>
            </li>
          </ul>
          
          <div class="tab-content">
              <div class="tab-pane" id="home-b2">
                  <p>...</p>
              </div>
              <div class="tab-pane show active" id="profile-b2">
                  <p>...</p>
              </div>
              <div class="tab-pane" id="settings-b2">
                  <p>...</p>
              </div>
          </div>

            

                      
                      <!-- end page title -->

                                  <div class="row">
                                      <div class="col-xl-6">
  
  <div class="tabs-container">
    <ul class="tabs">
      <li class="tab-item active" data-tab="info">Info</li>
      <li class="tab-item" data-tab="wallbox" id="wallbox-tab">Wallbox</li>
      <li class="tab-item" data-tab="module">Module & Zubehör</li>
      <li class="tab-item" data-tab="ticket">Ticket</li>
    </ul>

                                        <!-- START FORM & TABS CONTENT-->                                      
    <form id="main-form" method="POST" onsubmit="updateDisplay();" action="{% url 'vertrieb_interface:edit_angebot' vertrieb_angebot.angebot_id %}">
      {% if not vertrieb_angebot.is_locked %}
      {% csrf_token %}

      <!-- Info Tab -->
      <div id="info" class="tab-content active">
        <table>
          <tr>{{ form.status.label_tag}}</tr>
          <td> {{ form.status }}</td>
          {% if vertrieb_angebot.status == 'bekommen' %} 
            <td> Angebotstatus Änderungsdatum: {{ vertrieb_angebot.status_change_date }}</td>
          {% endif %}

        </table>
        <p></p>
        <table>
          <td>
            {{ form.ablehnungs_grund }}
          </td>
        </table>
        <p></p>
        <table>
          <tr>
            <th>{{ form.anrede.label_tag }}</th>
            <td> {{ form.anrede }}{{ form.anrede.errors }}</td>
          </tr>
          <tr>
            <th>{{ form.name.label_tag }}</th>
            <td>{{ form.name }}{{ form.name.errors }}</td>
          </tr>
          <tr>
            <th>{{ form.telefon_mobil.label_tag }}</th>
            <td>{{ form.telefon_mobil }}</td>
          </tr>
          <tr>
            <th>{{ form.telefon_festnetz.label_tag }}</th>
            <td>{{ form.telefon_festnetz }}</td>
          </tr>
          <tr>
            <th>{{ form.firma.label_tag }}</th>
            <td>{{ form.firma }}</td>
          </tr>
          <tr>
            <th>{{ form.strasse.label_tag }}</th>
            <td>{{ form.strasse }}{{ form.strasse.errors }}</td>
          </tr>
          <tr>
            <th>{{ form.ort.label_tag }}</th>
            <td>{{ form.ort }}</td>
          </tr>
          <tr>
            <th> Addrese mit Google Maps öffnen: </th>
            <td>
            <a href="{{ vertrieb_angebot.google_maps_url }}">{{ vertrieb_angebot.google_maps_url }}</a> 
            </td>
          </tr>
          <tr>
            <th>{{ form.anlagenstandort.label_tag }}</th>
            <td>{{ form.anlagenstandort }}{{ form.anlagenstandort.errors }}</td>
          </tr>
          
          <tr>
            <th>{{ form.anz_speicher.label_tag }}</th>
            <td>{{ form.anz_speicher }} {{ form.anz_speicher.errors }}</td>
          </tr>
          <tr>
            <th>{{ form.wallbox.label_tag }}</th>
            <td>
              <div style="display: flex; align-items: center;">{{ form.wallbox }}___ Ja / Nein</div>
            </td>
          </tr>
          <tr>
            <th>{{ form.ausrichtung.label_tag }}</th>
            <td id="ausrichtung" name="ausrichtung">{{ form.ausrichtung }}</td>
          </tr>
          <tr>
            <th>{{ form.komplex.label_tag }}</th>
            <td id="komplex" name="komplex">{{ form.komplex }}</td>
          </tr>
          <tr>
            <th>{{ form.notizen.label_tag }}</th>
            <td id="notizen" name="notizen">{{ form.notizen }}</td>
          </tr>
          <tr>
            <th>{{ form.empfohlen_von.label_tag }}</th>
            <td>{{ form.empfohlen_von }}</td>
          </tr>
          <tr>
            <th>{{ form.angebot_bekommen_am.label_tag }}</th>
            <td>{{ form.angebot_bekommen_am }}</td>
          </tr>
        </table>
      </div>
      <!-- Wallbox Tab -->
      <div class="tab-content" id="wallbox">
        <div class="row">
          <div class="column">{{ form.wallboxtyp.label_tag }}
            {{ form.wallbox_anzahl.label_tag }}
            {{ form.kabelanschluss.label_tag }}
          </div>
          <div class="column">{{ form.wallboxtyp }}
            {{ form.wallbox_anzahl }}
            {{ form.kabelanschluss }}
          </div>
        </div>
      </div>
      <!-- Solar Module Tab -->
      <div class="tab-content" id="module">
        <table>
          <tr>
            <th>{{ form.solar_module.label_tag }}</th>
            <td>{{ form.solar_module }}</td>
          </tr>
          <tr>
            <th>{{ form.modulanzahl.label_tag }}</th>
            <td id="modulanzahl" name="modulanzahl">{{ form.modulanzahl }}{{ form.modulanzahl.errors }}</td>
        </tr>
          <tr>
            <th>{{ form.garantieWR.label_tag }}</th>
            <td>{{ form.garantieWR }}</td>
          </tr>
          <tr>
            <th>{{ form.eddi.label_tag }}</th>
            <td>{{ form.eddi }}</td>
          </tr>
          <tr>
            <th>{{ form.notstrom.label_tag }}</th>
            <td>{{ form.notstrom }}</td>
          </tr>
          <tr>
            <th>{{ form.anzOptimizer.label_tag }}</th>
            <td id="anzOptimizer" name="anzOptimizer">{{ form.anzOptimizer }} {{ form.anzOptimizer.errors }}</td>
        </tr>
          <tr>
            <th>Modulleistung [Wp]</th>
            <td id="modulleistungWp" name="modulleistungWp">{{ vertrieb_angebot.modulleistungWp }}</td>
          </tr>
          <tr>
            <th>Modullsumme [kWp]</th>
            <td id="modulsumme_kWp" name="modulsumme_kWp">{{ vertrieb_angebot.modulsumme_kWp }}</td>
          </tr>
        </table>
        <p style="font-size: 16px; text-align: center; margin-top: 10px;">Gesamtpreis PV-Anlage (inkl. Monatge)</p>
        <table>
          <tr>
            <th>Preis Netto</th>
            <td>{{ vertrieb_angebot.angebotsumme }} €</td>
          </tr>
          <tr>
            <th>Preis Brutto</th>
            <td>{{ vertrieb_angebot.angebotsumme }} €</td>
          </tr>
        </table>
        <p></p>
        <table>
          <tr>
            <th>Erzeugte Energie pro Jahr [kWh]</th>
            <td>{{ vertrieb_angebot.erzeugte_energie }} kWh</td>
          </tr>
          <tr>
            <th>Nutzbare PV-Energie [kWh]</th>
            <td>{{ vertrieb_angebot.nutz_energie }} kWh</td>
          </tr>
          <tr>
            <th>Benögte Restenegie [kWh]</th>
            <td>{{ vertrieb_angebot.restenergie }} kWh</td>
          </tr>
          <tr>
            <th>kosten für Restenegie</th>
            <td>{{ vertrieb_angebot.kosten_rest_energie }} €</td>
          </tr>
          <tr>
            <th>Einspreisevergütung gesamt [€]</th>
            <td>{{ vertrieb_angebot.einsp_verg }} €</td>
          </tr>
        </table>
        <p></p>
        <table>
          <tr>
            <th>Stromkosten ohne PV-Anlage</th>
            <td>{{ vertrieb_angebot.strom_ohne }} €</td>
          </tr>
          <tr>
            <th>Preis abzgl Vergütung und inkl. Restrom</th>
            <td>{{ vertrieb_angebot.abzug }} €</td>
          </tr>
          <tr>
            <th>Ersparnis [€]</th>
            <td>{{ vertrieb_angebot.ersparnis }} €</td>
          </tr>
        </table>
      </div>
      <!-- Ticket Tab -->
      <div class="tab-content" id="ticket">
        <table>
          <tr>
            <th>Module:</th>
            <td>{{ vertrieb_angebot.solar_module }}</td>
          </tr>
        </table>
        <p></p>
        <div class="row">
          <div class="column">
            {{ form.module_ticket.label_tag }}
            {{ form.optimizer_ticket.label_tag }}
            {{ form.batteriemodule_ticket.label_tag }}
            {{ form.notstrom_ticket.label_tag }}
            {{ form.eddi_ticket.label_tag }}
          </div>
          <div class="column">
            {{ form.modul_anzahl_ticket }}
            {{ form.optimizer_ticket }}
            {{ form.batteriemodule_ticket }}
            {{ form.notstrom_ticket }}
            {{ form.eddi_ticket }}
          </div>
        </div>
      </div>
      <!-- Kalkulation Tab -->
      <div class="tab-content" id="wallbox">
        <div class="row">
          <div class="column">{{ form.wallboxtyp.label_tag }}
            {{ form.wallbox_anzahl.label_tag }}
            {{ form.kabelanschluss.label_tag }}
          </div>
          <div class="column">{{ form.wallboxtyp }}
            {{ form.wallbox_anzahl }}
            {{ form.kabelanschluss }}
          </div>
        </div>
      </div>
      <div id="kalkulation" class="tab-content">
        <table>
          <tr>
            <th>{{ form.verbrauch.label_tag }}</th>
            <td id="verbrauch" name="verbrauch">{{ form.verbrauch }} {{ form.verbrauch.errors }}</td>
          </tr>
          <tr>
            <th>{{ form.grundpreis.label_tag }}</th>
            <td><input type="number" step="any" id="grundpreis" name="grundpreis" value='{{ form.grundpreis.value }}'>{{ form.grundpreis.errors }}</td> 
          </tr>
          <tr>
            <th>{{ form.arbeitspreis.label_tag }}</th>
            <td id="arbeitspreis" name="arbeitspreis">{{ form.arbeitspreis }} {{ form.arbeitspreis.errors }}</td>
          </tr>
          <tr>
          <th>{{ form.anlagenstandort.label_tag }}</th>
          <td>{{ vertrieb_angebot.anlagenstandort }}</td>
        </tr>
        <tr>
          <th>{{ form.speicher.label_tag }}</th>
          <td>{{ vertrieb_angebot.speicher }}</td>
        </tr>
        <tr>
          <th>{{ form.anz_speicher.label_tag }}</th>
          <td>{{ vertrieb_angebot.anz_speicher }}</td>
        </tr>
        <tr>
          <th>{{ form.wallbox.label_tag }}</th>
          <td>{{ vertrieb_angebot.wallbox }}</td>
        </tr>
        <tr>
          <th>{{ form.ausrichtung.label_tag }}</th>
          <td>{{ vertrieb_angebot.ausrichtung }}</td>
        </tr>
        <tr>
          <th>{{ form.komplex.label_tag }}</th>
          <td>{{ vertrieb_angebot.komplex }}</td>
        </tr>
      </table>
    </div>
    <!-- Wallbox Tab -->
    <div class="tab-content" id="wallbox">
      <div class="row">
        <div class="column">
          {{ form.wallboxtyp.label_tag }}
          {{ form.wallbox_anzahl.label_tag }}
          {{ form.kabelanschluss.label_tag }}
        </div>
        <div class="column">
          {{ vertrieb_angebot.wallboxtyp }}
          {{ vertrieb_angebot.wallbox_anzahl }}
          {{ vertrieb_angebot.kabelanschluss }}
        </div>
      </div>
    </div>
    <!-- Solar Module Tab -->
    <div class="tab-content" id="module">
      <table>
        <tr>
          <th>{{ form.solar_module.label_tag }}</th>
          <th>{{ vertrieb_angebot.solar_module }}</th>
        </tr>
        <tr>
          <th>{{ form.modulanzahl.label_tag }}</th>
          <td>{{ vertrieb_angebot.modulanzahl }}</td>
        </tr>
        <tr>
          <th>{{ form.garantieWR.label_tag }}</th>
          <td>{{ vertrieb_angebot.garantieWR }}</td>
        </tr>
        <tr>
          <th>{{ form.eddi.label_tag }}</th>
          <td>{{ vertrieb_angebot.eddi|yesno:'Inklusive,keine' }}</td>
        </tr>
        <tr>
          <th>{{ form.notstrom.label_tag }}</th>
          <td>{{ vertrieb_angebot.notstrom|yesno:'Inklusive,keine' }}</td>
        </tr>
        <tr>
          <th>{{ form.anzOptimizer.label_tag }}</th>
          <td> Anzahl: {{ vertrieb_angebot.anzOptimizer }}</td>
        </tr>
        <tr>
          <th>Modulleistung [Wp]</th>
          <td id="modulleistungWp" name="modulleistungWp">{{ vertrieb_angebot.modulleistungWp }}</td>
        </tr>
        <tr>
          <th>Modullsumme [kWp]</th>
          <td id="modulsumme_kWp" name="modulsumme_kWp">{{ vertrieb_angebot.modulsumme_kWp }}</td>
        </tr>
      </table>
      <p style="font-size: 16px; text-align: center; margin-top: 10px;">Gesamtpreis PV-Anlage (inkl. Monatge)</p>
      <table>
        <tr>
          <th>Preis Netto</th>
          <th>{{ vertrieb_angebot.angebotsumme }} €</th>
        </tr>
        <tr>
          <th>Preis Brutto</th>
          <td>{{ vertrieb_angebot.angebotsumme }} €</td>
        </tr>
        <tr>
          <th>Batterie speicher Preis</th>
          <td>{{ vertrieb_angebot.batteriespeicher_preis }} €</td>
        </tr>
      </table>
      <p></p>
      <table>
        <tr>
          <th>Erzeugte Energie pro Jahr [kWh]</th>
          <td>{{ vertrieb_angebot.erzeugte_energie }} kWh</td>
        </tr>
        <tr>
          <th>Nutzbare PV-Energie [kWh]</th>
          <td>{{ vertrieb_angebot.nutz_energie }} kWh</td>
        </tr>
        <tr>
          <th>Benögte Restenegie [kWh]</th>
          <td>{{ vertrieb_angebot.restenergie }} kWh</td>
        </tr>
        <tr>
          <th>kosten für Restenegie</th>
          <td>{{ vertrieb_angebot.kosten_rest_energie }} €</td>
        </tr>
        <tr>
          <th>Einspreisevergütung gesamt [€]</th>
          <td>{{ vertrieb_angebot.einsp_verg }} €</td>
        </tr>
      </table>
      <p></p>
      <table>
        <tr>
          <th>Stromkosten ohne PV-Anlage</th>
          <td>{{ vertrieb_angebot.strom_ohne }} €</td>
        </tr>
        <tr>
          <th>Preis abzgl Vergütung und inkl. Restrom</th>
          <td>{{ vertrieb_angebot.abzug }} €</td>
        </tr>
        <tr>
          <th>Ersparnis [€]</th>
          <td>{{ vertrieb_angebot.ersparnis }} €</td>
        </tr>
      </table>
    </div>
    <!-- Ticket Tab -->
    <div class="tab-content" id="ticket">
      <table>
        <tr>
          <th>Module:</th>
          <td>{{ vertrieb_angebot.solar_module }}</td>
        </tr>
      </table>
      <p></p>
      <table>
        <tr>
          <th>Modulleistung [Wp]</th>
          <td id="modulleistungWp" name="modulleistungWp">{{ vertrieb_angebot.modulleistungWp }}</td>
        </tr>
        <tr>
          <th>Leistung bisher [kWp]</th>
          <td id="modulsumme_kWp" name="modulsumme_kWp">{{ vertrieb_angebot.modulsumme_kWp }}</td>
        </tr>
        <tr>
          <th>Leistungs gewinn [kWp]</th>
          <td id="modulsumme_kWp" name="modulsumme_kWp">{{ vertrieb_angebot.modulsumme_kWp }}</td>
        </tr>
        <tr>
          <th>Gesamtleistung [kWp]</th>
          <td id="modulsumme_kWp" name="modulsumme_kWp">{{ vertrieb_angebot.modulsumme_kWp }}</td>
        </tr>
      </table>
        <p style="font-size: 16px; text-align: center; margin-top: 10px;">Zusätzlich & Abzüge:</p>
      <table>
        <tr>
          <th>Module:</th>
          <td>{{ vertrieb_angebot.modul_anzahl_ticket }}
        </tr>
        <tr>
          <th>Optimizer:</th>
          <td>{{ vertrieb_angebot.optimizer_ticket }}
        </tr>
        <tr>
          <th>Batteriemodule:</th>
          <td>{{ vertrieb_angebot.batteriemodule_ticket }}
        </tr>
        <tr>
          <th>Leistungsmodul:</th>
          <td>{{ vertrieb_angebot.leistungsmodule }}
        </tr>
        <tr>
          <th>Notstrom:</th>
          <td>{{ vertrieb_angebot.notstrom_ticket }}
        </tr>
        <tr>
          <th>Eddi:</th>
          <td>{{ vertrieb_angebot.eddi_ticket }}
        </tr>
      </table>
        <p></p>
      <table>
        <tr>
          <th>Aufpreis netto:</th>
          <td>{{ vertrieb_angebot.full_ticket_preis }}
        </tr>
        <tr>
          <th>Aufpreis brutto:</th>
          <td>{{ vertrieb_angebot.full_ticket_preis }}
        </tr>
      </table>
        <p></p>
        <p>DEBUG STRINGS :</p>
      <table>
        <tr>
          <th>Module Preis Ticket:</th>
          <td>{{ vertrieb_angebot.modul_ticket_preis }}</td>
        </tr>
        <tr>
          <th>Optimizer Preis Ticket:</th>
          <td>{{ vertrieb_angebot.optimizer_ticket_preis }}</td>
        </tr>
        <tr>
          <th>Batterie Preis Ticket:</th>
          <td>{{ vertrieb_angebot.batterie_ticket_preis }}</td>
        </tr>
        <tr>
          <th>Leistungmodule Ticket:</th>
          <td>{{ vertrieb_angebot.leistungsmodule }}</td>
        </tr>
        <tr>
          <th>Leistungmodule Ticket Preise:</th>
          <td>{{ vertrieb_angebot.leistung_ticket_preis }}</td>
        </tr>
        <tr>
          <th>Notstrom Ticket Preise:</th>
          <td>{{ vertrieb_angebot.notstrom_ticket_preis }}</td>
        </tr>
        <tr>
          <th>Eddi Ticket Preise:</th>
          <td>{{ vertrieb_angebot.eddi_ticket_preis }}</td>
        </tr>
        <tr>
          <th>Leistunggewinn:</th>
          <td>{{ vertrieb_angebot.leistungsgewinn }}</td>
        </tr>
        <tr>
          <th>Full Ticket Preise:</th>
          <td>{{ vertrieb_angebot.full_ticket_preis }}</td>
        </tr>
      </table>
    </div>
    {% endif %}
  </div>
  
                                        <!-- ASIDE BUTTONS -->
  <aside class="actions">
        
        <p style="font-size: 18px; text-align: center; margin-top: 10px;">Kundennumer: {{ vertrieb_angebot.zoho_kundennumer }}</p>
        <p style="font-size: 14px; text-align: center; margin-top: 10px;">Termin: {{ vertrieb_angebot.termine_text }}</p>
        <p style="font-size: 18px; text-align: left; margin-top: 0px;">AngebotID: {{ vertrieb_angebot.angebot_id }}</p>
        <p style="font-size: 16px; text-align: left; margin-top: 10px;">{{ vertrieb_angebot.current_date }}</p>
        <p style="font-size: 16px; text-align: left; margin-top: 10px;">Zugriff auf die Bearbeitung: {{ vertrieb_angebot.is_locked|yesno:'Nicht verfügbar,Verfügbar' }}</p>
      {% if not vertrieb_angebot.is_locked %}
        <button type="submit" form="main-form" id="save-all-forms">Speichern</button>
        <a href="{% url 'vertrieb_interface:pdf_angebots_list' vertrieb_angebot.angebot_id %}" class="btn btn-primary">PDF Angeboten Liste</a>

      {% endif %}
      {% if vertrieb_angebot.is_locked %}
        <a href="{% url 'vertrieb_interface:create_angebot_pdf_user' vertrieb_angebot.angebot_id %}" class="btn btn-primary submit-btn">Angebot PDF erstellen</a>
        <a href="{% url 'vertrieb_interface:create_ticket_pdf' vertrieb_angebot.angebot_id %}" class="btn btn-primary submit-btn">Ticket PDF erstellen</a>
        <a href="{% url 'vertrieb_interface:create_calc_pdf' vertrieb_angebot.angebot_id %}" class="btn btn-primary submit-btn">Kalkulation PDF erstellen</a>
        <button id="cancel">Abbrechen</button>
      {% endif %}
  </aside>
                                      </div>
                                  </div>
  {% endblock %}

{% block scripts %}                                        <!-- JS -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const leadstatus = document.getElementById('status');
        const ablehnungs_grund = document.getElementById('ablehnungs_grund');

        // Hide the ablehnungs_grund field by default
        ablehnungs_grund.style.display = 'none';

        leadstatus.addEventListener('change', function() {
            if (this.value === 'abgelehnt') {
                ablehnungs_grund.style.display = 'block';
            } else {
                ablehnungs_grund.style.display = 'none';
            }
        });
    });
</script>

<script>
$(document).ready(function() {
    $("#id_name").change(function() {
        var url = "{% url 'vertrieb_interface:vertrieb_autofield' %}";
        var name = $(this).val();

        $.ajax({
            url: url,
            data: {
                'name': name
            },
            success: function(data) {
                // Fill the form fields with data
                $("#id_anrede").val(data.anrede);
                $("#id_strasse").val(data.strasse);
                $("#id_telefon_mobil").val(data.telefon_mobil);
                $("#id_telefon_festnetz").val(data.telefon_festnetz);
                $("#id_ort").val(data.ort);
                $("#id_angebot_bekommen_am").val(data.angebot_bekommen_am);
                $("#id_verbrauch").val(data.verbrauch);
                $("#leadstatus").val(data.leadstatus);
                $("#id_status").val(data.status)
                

                // ... and so on for the rest of your fields
            }
        });
    });
});
</script>
{% endblock %}

{% block extra_js %}  
  <script src="{% static 'js/vertrieb_interface.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'assets/js/vendor.min.js' %}"></script>

  <!-- Code Highlight js -->
  <script src="{% static 'assets/vendor/highlightjs/highlight.pack.min.js' %}"></script>
  <script src="{% static 'assets/vendor/clipboard/clipboard.min.js' %}"></script>
  <script src="{% static 'assets/js/hyper-syntax.js' %}"></script>

  <!-- Datatables js -->
  <script src="{% static 'assets/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-fixedcolumns-bs5/js/fixedColumns.bootstrap5.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>

  <!-- Datatable Demo Aapp js -->
  <script src="{% static 'assets/js/pages/demo.datatable-init.js' %}"></script>

  <!-- Daterangepicker js -->
  <script src="{% static 'assets/vendor/daterangepicker/moment.min.js' %}"></script>
  <script src="{% static 'assets/vendor/daterangepicker/daterangepicker.js' %}"></script>
  
  <!-- Apex Charts js -->
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></  <script src="{% static 'assets/js/vendor.min.js' %}"></script>

  <!-- Code Highlight js -->
  <script src="{% static 'assets/vendor/highlightjs/highlight.pack.min.js' %}"></script>
  <script src="{% static 'assets/vendor/clipboard/clipboard.min.js' %}"></script>
  <script src="{% static 'assets/js/hyper-syntax.js' %}"></script>

  <!-- Datatables js -->
  <script src="{% static 'assets/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-fixedcolumns-bs5/js/fixedColumns.bootstrap5.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>

  <!-- Datatable Demo Aapp js -->
  <script src="{% static 'assets/js/pages/demo.datatable-init.js' %}"></script>

  <!-- Daterangepicker js -->
  <script src="{% static 'assets/vendor/daterangepicker/moment.min.js' %}"></script>
  <script src="{% static 'assets/vendor/daterangepicker/daterangepicker.js' %}"></script>
  
  <!-- Apex Charts js -->
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>

  <!-- Vector Map js -->
  <script src="{% static 'assets/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
  <script src="{% static 'assets/vendor/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js' %}"></script>

  <!-- Dashboard App js -->
  <script src="{% static 'assets/js/pages/demo.dashboard.js' %}"></script>

  <!-- App js -->
  <script src="{% static 'assets/js/app.min.js' %}"></script>script>

  <!-- Vector Map js -->
  <script src="{% static 'assets/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
  <script src="{% static 'assets/vendor/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js' %}"></script>

  <!-- Dashboard App js -->
  <script src="{% static 'assets/js/pages/demo.dashboard.js' %}"></script>

  <!-- App js -->
  <script src="{% static 'assets/js/app.min.js' %}"></script>
 {% endblock %}
  

