{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block content %}
<div class="submit-row">
    <a href="{% url 'vertrieb_interface:create_angebot_pdf_user' original.angebot_id %}" class="btn btn-primary submit-btn">PDF Angebot erstellen</a>
    <a href="{% url 'vertrieb_interface:create_calc_pdf' original.angebot_id %}" class="btn btn-primary submit-btn">PDF Kalkulation erstellen</a>
    <a href="{% url 'vertrieb_interface:create_ticket_pdf' original.angebot_id %}" class="btn btn-primary submit-btn">PDF Ticket erstellen</a>
</div>
{{ block.super }}
{% endblock %}
