{% extends 'invoices/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="de">

{% block head %}
   
        <meta charset="utf-8" />
        <title>Elektriker Kalender   | Juno-Solar Administration Tool</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Coderthemes" name="Sam Ivanov" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <!-- Fullcalendar css -->
        <link href="{% static 'assets/vendor/fullcalendar/main.min.css' %}" rel="stylesheet" type="text/css" />

        <!-- Theme Config Js -->
        <script src="{% static 'assets/js/hyper-config.js' %}"></script>

        <!-- App css -->
        <link href="{% static 'assets/css/app-saas.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />

        <!-- Icons css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}
{% block content %}
<div class="content-page">
    <div class="content">
<div class="container-fluid">

    <!-- Start Seiten Titel -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Elektriker-Schnittstelle</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Apps</a></li>
                        <li class="breadcrumb-item active">Kalender</li>
                    </ol>
                </div>
                <h4 class="page-title">Kalender</h4>
            </div>
        </div>
    </div>
    <!-- Ende Seiten Titel -->

    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="d-grid">
                                <button class="btn btn-lg font-16 btn-danger" id="btn-new-event">
                                    <i class="mdi mdi-plus-circle-outline"></i> Neues Ereignis erstellen
                                </button>
                            </div>
                            <div id="external-events" class="mt-3">
                                <p class="text-muted">Ziehen Sie Ihr Ereignis und legen Sie es ab oder klicken Sie im Kalender</p>
                                <div class="external-event bg-success-lighten text-success" data-class="bg-success"><i class="mdi mdi-checkbox-blank-circle me-2 vertical-middle"></i>Neue Theme-Veröffentlichung</div>
                                <div class="external-event bg-info-lighten text-info" data-class="bg-info"><i class="mdi mdi-checkbox-blank-circle me-2 vertical-middle"></i>Mein Ereignis</div>
                                <div class="external-event bg-warning-lighten text-warning" data-class="bg-warning"><i class="mdi mdi-checkbox-blank-circle me-2 vertical-middle"></i>Treffen mit Manager</div>
                                <div class="external-event bg-danger-lighten text-danger" data-class="bg-danger"><i class="mdi mdi-checkbox-blank-circle me-2 vertical-middle"></i>Neues Theme erstellen</div>
                            </div>

                            <div class="mt-5 d-none d-xl-block">
                                <h5 class="text-center">Wie funktioniert es ?</h5>
                            
                                <ul class="ps-3">
                                    <li class="text-muted mb-3">
                                        Es hat nicht nur fünf Jahrhunderte überlebt, sondern auch den Sprung in die elektronische Schriftsetzung, und ist im Wesentlichen unverändert geblieben.
                                    </li>
                                    <li class="text-muted mb-3">
                                        Richard McClintock, ein Lateinprofessor am Hampden-Sydney College in Virginia, suchte eines der obskureren lateinischen Wörter, consectetur, aus einem Lorem Ipsum Absatz.
                                    </li>
                                    <li class="text-muted mb-3">
                                        Es hat nicht nur fünf Jahrhunderte überlebt, sondern auch den Sprung in die elektronische Schriftsetzung, und ist im Wesentlichen unverändert geblieben.
                                    </li>
                                </ul>
                            </div>

                        </div> <!-- Ende col-->

                        <div class="col-lg-9">
                            <div class="mt-4 mt-lg-0">
                                <div id="calendar"></div>
                            </div>
                        </div> <!-- Ende col -->

                    </div> <!-- Ende Reihe -->
                </div> <!-- Ende Karten Körper -->
            </div> <!-- Ende Karte -->

            <!-- Neues Ereignis MODAL hinzufügen -->
            <div class="modal fade" id="event-modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form class="needs-validation" name="event-form" id="form-event" novalidate>
                            <div class="modal-header py-3 px-4 border-bottom-0">
                                <h5 class="modal-title" id="modal-title">Ereignis</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body px-4 pb-4 pt-0">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="control-label form-label">Ereignisname</label>
                                            <input class="form-control" placeholder="Ereignisnamen einfügen" type="text" name="title" id="event-title" required />
                                            <div class="invalid-feedback">Bitte geben Sie einen gültigen Ereignisnamen an</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="control-label form-label">Kategorie</label>
                                            <select class="form-select" name="category" id="event-category" required>
                                                <option value="bg-danger" selected>Gefahr</option>
                                                <option value="bg-success">Erfolg</option>
                                                <option value="bg-primary">Primär</option>
                                                <option value="bg-info">Info</option>
                                                <option value="bg-dark">Dunkel</option>
                                                <option value="bg-warning">Warnung</option>
                                            </select>
                                            <div class="invalid-feedback">Bitte wählen Sie eine gültige Ereigniskategorie aus</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button type="button" class="btn btn-danger" id="btn-delete-event">Löschen</button>
                                    </div>
                                    <div class="col-6 text-end">
                                        <button type="button" class="btn btn-light me-1" data-bs-dismiss="modal">Schließen</button>
                                        <button type="submit" class="btn btn-success" id="btn-save-event">Speichern</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div> <!-- Ende modal-content-->
                </div> <!-- Ende modal-dialog-->
            </div>
            <!-- Ende modal-->
        </div>
        <!-- Ende col-12 -->
    </div> <!-- Ende Reihe -->

</div> <!-- Container -->

</div> <!-- Inhalt -->

    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <script>document.write(new Date().getFullYear())</script> © Hyper - Coderthemes.com
                </div>
                <div class="col-md-6">
                    <div class="text-md-end footer-links d-none d-md-block">
                        <a href="javascript: void(0);">About</a>
                        <a href="javascript: void(0);">Support</a>
                        <a href="javascript: void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->

</div>
<script src="{% static 'assets/js/vendor.min.js' %}"></script>

<!-- Fullcalendar js -->
<script src="{% static 'assets/vendor/fullcalendar/main.min.js' %}"></script>
<script>
! function(l) {
    "use strict";

    function e() {
        this.$body = l("body"), this.$modal = new bootstrap.Modal(document.getElementById("event-modal"), {
            backdrop: "static"
        }), this.$calendar = l("#calendar"), this.$formEvent = l("#form-event"), this.$btnNewEvent = l("#btn-new-event"), this.$btnDeleteEvent = l("#btn-delete-event"), this.$btnSaveEvent = l("#btn-save-event"), this.$modalTitle = l("#modal-title"), this.$calendarObj = null, this.$selectedEvent = null, this.$newEventData = null
    }
    e.prototype.onEventClick = function(e) {
        this.$formEvent[0].reset(), this.$formEvent.removeClass("was-validated"), this.$newEventData = null, this.$btnDeleteEvent.show(), this.$modalTitle.text("Edit Event"), this.$modal.show(), this.$selectedEvent = e.event, l("#event-title").val(this.$selectedEvent.title), l("#event-category").val(this.$selectedEvent.classNames[0])
    }, e.prototype.onSelect = function(e) {
        this.$formEvent[0].reset(), this.$formEvent.removeClass("was-validated"), this.$selectedEvent = null, this.$newEventData = e, this.$btnDeleteEvent.hide(), this.$modalTitle.text("Add New Event"), this.$modal.show(), this.$calendarObj.unselect()
    }, e.prototype.init = function() {
        var e = new Date(l.now()),
            e = (new FullCalendar.Draggable(document.getElementById("external-events"), {
                itemSelector: ".external-event",
                eventData: function(e) {
                    return {
                        title: e.innerText,
                        className: l(e).data("class")
                    }
                }
            }), [{
                title: "Meeting with Mr. Shreyu",
                start: new Date(l.now() + 158e6),
                end: new Date(l.now() + 338e6),
                className: "bg-warning"
            }, {
                title: "Interview - Backend Engineer",
                start: e,
                end: e,
                className: "bg-success"
            }, {
                title: "Phone Screen - Frontend Engineer",
                start: new Date(l.now() + 168e6),
                className: "bg-info"
            }, {
                title: "Buy Design Assets",
                start: new Date(l.now() + 338e6),
                end: new Date(l.now() + 4056e5),
                className: "bg-primary"
            }]),
            a = this;
        a.$calendarObj = new FullCalendar.Calendar(a.$calendar[0], {
            slotDuration: "00:15:00",
            slotMinTime: "08:00:00",
            slotMaxTime: "19:00:00",
            themeSystem: "bootstrap",
            bootstrapFontAwesome: !1,
            buttonText: {
                today: "Heute",
                month: "Monat",
                week: "Woche",
                day: "Tag",
                list: "List",
                prev: "Prev",
                next: "Next"
            },
            initialView: "dayGridMonth",
            handleWindowResize: !0,
            height: l(window).height() - 200,
            headerToolbar: {
                left: "prev,next today",
                center: "title",
                right: "dayGridMonth,timeGridWeek,timeGridDay,listMonth"
            },
            initialEvents: e,
            editable: !0,
            droppable: !0,
            selectable: !0,
            dateClick: function(e) {
                a.onSelect(e)
            },
            eventClick: function(e) {
                a.onEventClick(e)
            }
        }), a.$calendarObj.render(), a.$btnNewEvent.on("click", function(e) {
            a.onSelect({
                date: new Date,
                allDay: !0
            })
        }), a.$formEvent.on("submit", function(e) {
            e.preventDefault();
            var t, n = a.$formEvent[0];
            n.checkValidity() ? (a.$selectedEvent ? (a.$selectedEvent.setProp("title", l("#event-title").val()), a.$selectedEvent.setProp("classNames", [l("#event-category").val()])) : (t = {
                title: l("#event-title").val(),
                start: a.$newEventData.date,
                allDay: a.$newEventData.allDay,
                className: l("#event-category").val()
            }, a.$calendarObj.addEvent(t)), a.$modal.hide()) : (e.stopPropagation(), n.classList.add("was-validated"))
        }), l(a.$btnDeleteEvent.on("click", function(e) {
            a.$selectedEvent && (a.$selectedEvent.remove(), a.$selectedEvent = null, a.$modal.hide())
        }))
    }, l.CalendarApp = new e, l.CalendarApp.Constructor = e
}(window.jQuery),
function() {
    "use strict";
    window.jQuery.CalendarApp.init()
}();
</script>


        <!-- Calendar App Demo js -->
        <script src="{% static 'assets/js/pages/demo.calendar.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'assets/js/app.min.js' %}"></script>
{% endblock %}