{% load static %}
<!DOCTYPE html>
<html lang="de" data-theme="dark" data-menu-color="dark">

    <head>
        <meta charset="utf-8" />
        <title>Log In | Juno-Solar Administration Tool</title>
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
       
        <meta content="Coderthemes" name="Sam Ivanov" />

        <!-- App favicon -->
        
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        
        <!-- Theme Config Js -->
        <script src="{% static 'assets/js/hyper-config.js' %}"></script>

        <!-- App css -->
        <link href="{% static 'assets/css/app-saas.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />

        <!-- Icons css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    </head>
    <style>
    body {
        background-image: url("{% static 'img/3d-blue.jpg' %}");
        overflow: hidden;
        background-size: cover;
        background-attachment: fixed;   
    }
</style>

    <body class="authentication-bg position-relative">
                    <!-- Pre-loader -->
    <div id="preloader">
        <div id="status">
            <div class="bouncing-loader"><div ></div><div ></div><div ></div></div>
        </div>
    </div>
        <div class="position-absolute start-0 end-0 start-0 bottom-0 w-100 h-100">
            <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 800 800'>
                <g fill-opacity='0.22'>
                    <circle style="fill: rgba(var(--ct-primary-rgb), 0.1);" cx='400' cy='400' r='600'/>
                    <circle style="fill: rgba(var(--ct-primary-rgb), 0.2);" cx='400' cy='400' r='500'/>
                    <circle style="fill: rgba(var(--ct-primary-rgb), 0.3);" cx='400' cy='400' r='300'/>
                    <circle style="fill: rgba(var(--ct-primary-rgb), 0.4);" cx='400' cy='400' r='200'/>
                    <circle style="fill: rgba(var(--ct-primary-rgb), 0.5);" cx='400' cy='400' r='100'/>
                </g>
            </svg>
        </div>
        <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5 position-relative">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-4 col-lg-5">
                        <div class="card">

                            <div class="card-body p-4 bg-opacity-75">
                                <div class="text-center w-75 m-auto">
                                    <h4 class="text-dark-50 text-center pb-0 fw-bold">Anmelden</h4>
                                    <p class="text-muted mb-4"></p>
                                </div>

                                <form method="POST" action="{% url 'authentication:login' %}">
                                    {% csrf_token %}

                                    <div class="mb-3">
                                        <label for="email" class="form-label">E-Mail Adresse</label>
                                        <input class="form-control" type="email" id="email" name="email" required="" placeholder="email">

                                    </div>

                                    <div class="mb-3">
                                        
                                        <label for="password" class="form-label">Passwort</label>
                                        <div class="input-group input-group-merge">
                                            <input type="password" id="password" name="password" class="form-control" placeholder="passwort">
                                            <div class="input-group-text" data-password="false">
                                                <span class="password-eye"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3 mb-3">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="checkbox-signin" checked>
                                            <label class="form-check-label" for="checkbox-signin">Erinnere mich</label>
                                        </div>
                                    </div>

                                    <div class="mb-3 mb-0 text-center">
                                        <button class="btn btn-primary" type="submit"> Einloggen</button>
                                    </div>

                                </form>
                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->

                        <div class="row mt-3">
                            
                        </div>
                        <!-- end row -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->
        <footer class="footer footer-alt">
            2023 - <script>document.write(new Date().getFullYear())</script> © Juno-Solar Home Gmbh
        </footer>
        <!-- Vendor js -->
       
        <script src="{% static 'assets/js/vendor.min.js' %}"></script>
        
        <!-- App js -->
        <script src="{% static 'assets/js/app.min.js' %}"></script>

    </body>
</html>
