{% block content %}
<tr hidden>
    <th>{{ form.elwa.label_tag }}</th>
    <td>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="elwa" {% if form.elwa.value %}checked{% endif %} data-switch="success" name="{{ form.elwa.html_name }}" />
            <label class="custom-control-label" for="elwa" data-on-label="Ja" data-off-label="Nein"></label>
        </div>
    </td>
</tr>
<tr id="bool_elwa_row" class="conditional-row">
    <th>{{ form.elwa.label_tag }}</th>
    <td>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="elwa" {% if form.elwa.value %}checked{% endif %} data-switch="success" name="{{ form.elwa.html_name }}" />
            <label class="custom-control-label" for="elwa" data-on-label="Ja" data-off-label="Nein"></label>
        </div>
    </td>
</tr>
{% endblock %}
