{% block content %}
<head>
    <meta charset="UTF-8">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">

</head>
<body style="margin:0;">

    <div id="map" style="width: 100%; height: 400px;"></div>

    <script>
        mapboxgl.accessToken = '{{ MAPBOX_TOKEN }}'; 

        var map = new mapboxgl.Map({
            container: 'map',
            center: [{{ LONGITUDE }}, {{ LATITUDE }}], // provided coordinates
            style: 'mapbox://styles/mapbox/streets-v11',
            hash: true,
            zoom: 8
        });
        const nav = new mapboxgl.NavigationControl({
            showZoom: true,
            visualizePitch: true
            });
        map.addControl(nav, 'bottom-right');

        // Add marker with default shape, but changed color and size due to CSS
        new mapboxgl.Marker({
            color: "#FF0000",
            
            })
            .setLngLat([{{ LONGITUDE }}, {{ LATITUDE }}])
            .addTo(map);
    </script>
</body>
{% endblock %}
