{% block content %}
<tr>
    <th>{{ form.thor.label_tag }}</th>
    <td>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="thor" {% if form.thor.value %}checked{% endif %} data-switch="success" name="{{ form.thor.html_name }}" />
            <label class="custom-control-label" for="thor" data-on-label="Ja" data-off-label="Nein"></label>
        </div>
    </td>
</tr>
<tr>
    <th>{{ form.heizstab.label_tag }}</th>
    <td>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="heizstab-checkbox" {% if form.heizstab.value %}checked{% endif %} data-switch="success" name="{{ form.heizstab.html_name }}" />
            <label class="custom-control-label" for="heizstab-checkbox" data-on-label="Ja" data-off-label="Nein"></label>
        </div>
    </td>
</tr>
{% comment %} <script>
    // Toggle visibility of the inner table based on the checkbox state
    document.getElementById("thor").addEventListener("change", function() {
        let thorDetailsTable = document.getElementById("thor-details-table");
        if (this.checked) {
            thorDetailsTable.style.display = "table";
        } else {
            thorDetailsTable.style.display = "none";
        }
    });
</script> {% endcomment %}


{% endblock %}
