{% extends 'vertrieb/base.html'%}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
<div class="content-page">
{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success' %}
      <script>
        $(document).ready(function() {
          $('#success-alert-modal').modal('show');
        });
      </script>
    {% endif %}
  {% endfor %}
{% endif %}


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">

                            </ol>
                        </div>
                        <h4 class="page-title">{{ angebot_id }}</h4>
                    </div>
                </div>
            </div>
            <form id="updateForm" method="POST" action="{% url 'vertrieb_interface:document_and_calc_view' angebot_id=angebot_id %}" enctype="multipart/form-data">
            <div class="row">
                <div class="col-9">
                    
                        {% csrf_token %}
                        <div class="card border-info border">
                            <div class="card-body">
                                <h4 class="header-title">E-mail</h4>
                                <p class="text-muted font-14">Hier kannst du eine E-mail schicken. Pdf dokument wurde automatisch zu deinem Text hinzufügt</p>
                                {{ form.text_for_email }}
                                <p></p>
                                <h4 class="header-title">Empfänger</h4>
                                {{ form.email }}
                                <p class="text-muted font-14">eine Kopie wird auch an Ihre E-Mail Adresse geschickt</p>
                                
                                <div class="d-print-none mt-4">
                                    <div class="text-end">
                                        <button type="submit" id="email_send" class="btn btn-info">Email schicken</button>
                                        <div id="success-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content modal-filled bg-success">
                                                    <div class="modal-body p-4">
                                                        <div class="text-center">
                                                            <i class="ri-check-line h1"></i>
                                                            <h4 class="mt-2">Gut gemacht!</h4>
                                                            <p class="mt-3">Das PDF-Angebot wurde erfolgreich versendet!</p>
                                                            <button type="button" class="btn btn-light my-2" data-bs-dismiss="modal">Weiter</button>
                                                        </div>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    

                </div>
                <div class="col-md-6 col-xxl-3">
                    <div class="card border-info border">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="header-title mb-0">Datenblätter an die Mail mit anhängen</h4>
                        </div>

                        <div class="card-body py-0 mb-2">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0">
                                    <div class="avatar-sm rounded">
                                        <span class="avatar-title bg-transparent border border-light text-success rounded">
                                            <i class="ri-file-pdf-line"></i>
                                             
                                        </span>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <a href="javascript:void(0);" class="h4 my-0 fw-semibold text-secondary-lighten">Datenblätter Solar Module </a>
                                </div>
                                <a href="javascript:void(0);" class="font-16 text-muted"><input type="checkbox" class="custom-control-input" id="datenblatter_solar_module" {% if form.datenblatter_solar_module.value %}checked{% endif %} data-switch="success" name="{{ form.datenblatter_solar_module.html_name }}" />
                                    <label class="custom-control-label" for="datenblatter_solar_module" data-on-label="Ja" data-off-label="Nein"></label></a>
                            </div>

                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0">
                                    <div class="avatar-sm rounded">
                                        <span class="avatar-title bg-transparent border border-light text-success rounded">
                                            <i class="ri-file-pdf-line"></i>
                                             
                                        </span>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <a href="javascript:void(0);" class="h4 my-0 fw-semibold text-secondary-lighten">Datenblätter Speichermodule </a>
                                </div>
                                <a href="javascript:void(0);" class="font-16 text-muted"><input type="checkbox" class="custom-control-input" id="datenblatter_speichermodule" {% if form.datenblatter_speichermodule.value %}checked{% endif %} data-switch="success" name="{{ form.datenblatter_speichermodule.html_name }}" />
                                    <label class="custom-control-label" for="datenblatter_speichermodule" data-on-label="Ja" data-off-label="Nein"></label></a>
                            </div>

                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0">
                                    <div class="avatar-sm rounded">
                                        <span class="avatar-title bg-transparent border border-light text-success rounded">
                                            <i class="ri-file-pdf-line"></i>
                                             
                                        </span>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <a href="javascript:void(0);" class="h4 my-0 fw-semibold text-secondary-lighten">Datenblätter Wechselrichter </a>
                                </div>
                                <a href="javascript:void(0);" class="font-16 text-muted"><input type="checkbox" class="custom-control-input" id="datenblatter_wechselrichter" {% if form.datenblatter_wechselrichter.value %}checked{% endif %} data-switch="success" name="{{ form.datenblatter_wechselrichter.html_name }}" />
                                    <label class="custom-control-label" for="datenblatter_wechselrichter" data-on-label="Ja" data-off-label="Nein"></label></a>
                            </div>

                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0">
                                    <div class="avatar-sm rounded">
                                        <span class="avatar-title bg-transparent border border-light text-success rounded">
                                            <i class="ri-file-pdf-line"></i>
                                             
                                        </span>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <a href="javascript:void(0);" class="h4 my-0 fw-semibold text-secondary-lighten">Datenblätter Wallbox </a>
                                </div>
                                <a href="javascript:void(0);" class="font-16 text-muted"> <input type="checkbox" class="custom-control-input" id="datenblatter_wallbox" {% if form.datenblatter_wallbox.value %}checked{% endif %} data-switch="success" name="{{ form.datenblatter_wallbox.html_name }}" />
                                    <label class="custom-control-label" for="datenblatter_wallbox" data-on-label="Ja" data-off-label="Nein"></label></a>
                            </div>

                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0">
                                    <div class="avatar-sm rounded">
                                        <span class="avatar-title bg-transparent border border-light text-success rounded">
                                            <i class="ri-file-pdf-line"></i>
                                             
                                        </span>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <a href="javascript:void(0);" class="h4 my-0 fw-semibold text-secondary-lighten">Datenblätter Backup Box </a>
                                </div>
                                <a href="javascript:void(0);" class="font-16 text-muted"><input type="checkbox" class="custom-control-input" id="datenblatter_backup_box" {% if form.datenblatter_backup_box.value %}checked{% endif %} data-switch="success" name="{{ form.datenblatter_backup_box.html_name }}" />
                                    <label class="custom-control-label" for="datenblatter_backup_box" data-on-label="Ja" data-off-label="Nein"></label></a>
                            </div>

                            
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
                                {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
            </form>
            <div class="row">
                <div class="col-12">
                    <div class="card border-info border">
                        <div class="card-body">
                            <iframe src="{{ pdf_url }}" width='100%' height="900px">Your browser does not support iframes.</iframe>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <script>document.write(new Date().getFullYear())</script> © Juno-Solar Home 
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end footer-links d-none d-md-block">
                            <a type="submit" href="javascript:void(0)" id="send_support_message">Support</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="d-print-none mt-4">
            <div class="text-end">
                <div id="success-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content modal-filled bg-success">
                            <div class="modal-body p-4">
                                <div class="text-center">
                                    <i class="ri-check-line h1"></i>
                                    <h4 class="mt-2">Gut gemacht!</h4>
                                    <p class="mt-3">Email support message wurde erfolgreich versendet!</p>
                                    <button type="button" class="btn btn-light my-2" data-bs-dismiss="modal">Weiter</button>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
            </div>
        </div>
    </div>
</div>



            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var loginForm = document.getElementById('updateForm');
                    loginForm.addEventListener('submit', function() {
                        // Disable the button
                        document.getElementById('email_send').disabled = true;
                        // Optional: Add a class to change the appearance of the button
                        document.getElementById('email_send').classList.add('disabled');
                    });
                });
            </script>

{% endblock %}


        

        
            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->
{% block extrajs %}
        <script src="{% static 'assets/js/vendor.min.js' %}"></script>
        <script src="{% static 'assets/js/app.min.js' %}"></script>
        <!-- Code Highlight js -->
        <script src="{% static 'assets/vendor/highlightjs/highlight.pack.min.js' %}"></script>
        <script src="{% static 'assets/vendor/clipboard/clipboard.min.js' %}"></script>
        <script src="{% static 'assets/js/hyper-syntax.js' %}"></script>
        <!-- Simplemde Editor js -->
        <script src="{% static 'assets/vendor/simplemde/simplemde.min.js' %}"></script>
        <script src="{% static 'assets/js/pages/demo.simplemde.js' %}"></script>
         <!-- Quill Editor js -->
        <script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>

        <!-- Quill Demo js -->
        <script src="{% static 'assets/js/pages/demo.quilljs.js' %}"></script> 
        <!-- end row -->


{% endblock %}
