{% extends 'vertrieb/base.html'%}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                {% comment %} <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Angebote Liste</a></li>
                                <li class="breadcrumb-item active">Angebot PDF view</li> {% endcomment %}
                            </ol>
                        </div>
                        <h4 class="page-title">{{ angebot_id }}</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card border-info">
                        <div class="card-body">
                            <iframe src="{{ pdf_url }}" width='100%' height="900px">Your browser does not support iframes.</iframe>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <form id="updateForm" method="POST" action="{% url 'vertrieb_interface:document_view' angebot_id=angebot_id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card border-info">
                            <div class="card-body">
                                <h4 class="header-title">E-mail</h4>
                                <p class="text-muted font-14">Hier kannst du eine E-mail schicken. Pdf dokument wurde automatisch zu deinem Text hinzufügt</p>
                                {{ form.text_for_email }}
                                <h4 class="header-title">Empfänger</h4>
                                {{ form.email }}
                                <p class="text-muted font-14">eine Kopie wird auch an Ihre E-Mail Adresse geschickt</p>
                                <div class="d-print-none mt-4">
                                    <div class="text-end">
                                        <button type="submit" class="btn btn-info">Email schicken</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <script>document.write(new Date().getFullYear())</script> © Juno-Solar Home 
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end footer-links d-none d-md-block">
                            <a type="submit" href="javascript:void(0)" id="send_support_message">Support</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="d-print-none mt-4">
            <div class="text-end">
                <div id="success-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content modal-filled bg-success">
                            <div class="modal-body p-4">
                                <div class="text-center">
                                    <i class="ri-check-line h1"></i>
                                    <h4 class="mt-2">Gut gemacht!</h4>
                                    <p class="mt-3">Email support message wurde erfolgreich versendet!</p>
                                    <button type="button" class="btn btn-light my-2" data-bs-dismiss="modal">Weiter</button>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
            </div>
        </div>
    </div>
</div>


{% comment %} {% block content %}
        
                                                            

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">

  

                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Angebote Liste</a></li>
                                            <li class="breadcrumb-item active">Angebot PDF view</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">{{ angebot_id }}</h4>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-6">
                                <div class="card border-info border">
                                    <div class="card-body">

                                        <iframe src="{{ pdf_url }}" width='100%' height="900px">
                                            <!-- Display a message for browsers that do not support iframes -->
                                            Your browser does not support iframes.
                                        </iframe>

                                    </div> <!-- end card-body-->
                                </div> <!-- end card -->
                            </div> <!-- end col-->
                            <div class="col-6">
                                <form id="updateForm" method="POST" action="{% url 'vertrieb_interface:document_view' angebot_id=angebot_id %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="card border-info border">
                                        <div class="card-body">
                                            <h4 class="header-title">E-mail</h4>
                                            <p class="text-muted font-14">Hier kannst du eine E-mail schicken. Pdf dokument wurde automatisch zu deinem Text hinzufügt</p>
                                            {{ form.text_for_email }}
                                            <p class="text-muted font-14"></p>
                                            <h4 class="header-title">Empfänger</h4>
                                            {{ form.email }} 
                                            <p class="text-muted font-14">eine Kopie wird auch an Ihre E-Mail Adresse geschickt</p>
                                            
                                            <div class="d-print-none mt-4">
                                                
                                                <div class="text-end">
                                                    <button type="submit" class="btn btn-info">Email schicken</button>
                                                    <div id="success-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog modal-sm">
                                                            <div class="modal-content modal-filled bg-success">
                                                                <div class="modal-body p-4">
                                                                    <div class="text-center">
                                                                        <i class="ri-check-line h1"></i>
                                                                        <h4 class="mt-2">Gut gemacht!</h4>
                                                                        <p class="mt-3">Das PDF-Angebot wurde erfolgreich versendet!</p>
                                                                        <button type="button" class="btn btn-light my-2" data-bs-dismiss="modal">Weiter</button>
                                                                    </div>
                                                                </div>
                                                            </div><!-- /.modal-content -->
                                                        </div><!-- /.modal-dialog -->
                                                    </div>
                                            </div>
                                        </div>
                                    </div> <!-- end card-body-->
                                    
                                </div> <!-- end card-->
                            </form>
                                                    {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            </div> <!-- end col-->

                        </div>
                        <!-- end row -->
                        
                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <script>document.write(new Date().getFullYear())</script> © Juno-Solar Home 
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-end footer-links d-none d-md-block">
                                    <a href="javascript: void(0);">Info</a>
                                    <a href="javascript: void(0);">Support</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>
                                                {% endcomment %}



{% endblock %}


        

        
            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->
{% block extrajs %}
        <script src="{% static 'assets/js/vendor.min.js' %}"></script>
        <script src="{% static 'assets/js/app.min.js' %}"></script>
        <!-- Code Highlight js -->
        <script src="{% static 'assets/vendor/highlightjs/highlight.pack.min.js' %}"></script>
        <script src="{% static 'assets/vendor/clipboard/clipboard.min.js' %}"></script>
        <script src="{% static 'assets/js/hyper-syntax.js' %}"></script>
        <!-- Simplemde Editor js -->
        <script src="{% static 'assets/vendor/simplemde/simplemde.min.js' %}"></script>
        <script src="{% static 'assets/js/pages/demo.simplemde.js' %}"></script>
         <!-- Quill Editor js -->
        <script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>

        <!-- Quill Demo js -->
        <script src="{% static 'assets/js/pages/demo.quilljs.js' %}"></script> 
        <!-- end row -->


{% endblock %}
