{% extends 'vertrieb/base.html'%}
{% load custom_filter %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<!-- Pre-loader -->
                            <div id="preloader">
                    <div id="status">
                        <div class="bouncing-loader"><div ></div><div ></div><div ></div></div>
                    </div>
                </div>

<div class="content-page">
    <div class="content">
        <div class="container-fluid">
                <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
                <!-- end page title -->
            {% if user.top_verkaufer_container_view %}
            <div class="row">
                <div class="col-12">
                    <div class="card border-info border">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="header-title">unsere Mitarbeiter</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {% for user in users %}
                                    <div class="col-12 col-md-2 mb-3">
                                        <div class="d-flex align-items-center">
                                            {% if user.avatar %}
                                                <img class="me-3 rounded-circle" src="{{ user.avatar.url }}" width="40" alt="Generic placeholder image">
                                            {% endif %}
                                            <div>
                                                <h5 class="mt-0 mb-1 font-16">{{ user.first_name }} {{ user.last_name }}</h5>
                                                <span class="font-13">{{ user.email }}</span>
                                            </div>
                                            <span class="badge badge-success-lighten ms-3 font-16">{{ user.num_vertriebangebots }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- end card-body -->
                    </div>
                </div>
            </div>
            {% endif %}



            <div class="row">
                <div class="col-xl-6">
                    <div class="card border-primary border">
                        <div class="card-body">
                            <h5 class="card-title">Hallo, {{ user.first_name }} </h5>
                            <h6 class="card-subtitle text-muted">in diesem Portal kannst Du ein Angebote für Photovoltaikanlagen erstellen.</h6>
                            
                        </div>
                        
                        <img class="logo-light" style="margin: auto;" src="{% static 'img/junosolar_logo4-inverse.png' %}" height="150px" alt="logo">    
                        
                        <div class="card-body">
                        
                            <p class="card-text">Unter dem Menüpunkt „Hilfe“ in der Navigationsleiste findest du weitere Ein Chat-Assistent mit künstlicher Intelligenz, dem Sie alle Ihre Fragen zu Solarmodulen, elektrischen Geräten und Solarenergie im Allgemeinen stellen können.</p>
                            <p class="card-text text-success">Die Daten werden automatisch nach dem Login und auch beim Öffnen der Seite "JSH-Home" aktualisiert.</p>
                            <div style="display: flex; gap: 15px;">
                                <a hidden href="javascript:void(0);" id="load-user-angebots-button" class="btn btn-outline-info rounded-pill" data-bs-toggle="modal" data-bs-target="#info-alert-modal">
                                    Aus JPP Einträge Aktualisieren
                                    <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true" style="display: none;"></span>
                                    <span class="loading-text" style="display: none;">Der Download ist in Arbeit...</span>
                                </a>
                                {% comment %} <script>
                                    $(document).ready(function() {
                                        // Function to handle the AJAX call
                                        function ajaxUpdateForAngebots($button, url, successMessage) {
                                            $button.find('.spinner-border').show();
                                            $button.find('.loading-text').show();
                                            
                                            $.ajax({
                                                method: 'POST',
                                                url: url,
                                                data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
                                                success: function() {
                                                    $button.find('.spinner-border').hide();
                                                    $button.find('.loading-text').hide();
                                                    $('#success-alert-modal').modal('show');
                                                    
                                                },
                                                error: function() {
                                                    $button.find('.spinner-border').hide();
                                                    $button.find('.loading-text').hide();
                                                    alert('An error occurred while updating.');
                                                }
                                            });
                                        }

                                        $('#load-user-angebots-button').click(function() {
                                            ajaxUpdateForAngebots($(this), "{% url 'vertrieb_interface:load_user_angebots' %}", 'JPP Einträge updated successfully.');
                                        });
                                    });
                                </script> {% endcomment %}
                                <div id="success-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content modal-filled bg-success">
                                            <div class="modal-body p-4">
                                                <div class="text-center">
                                                    <i class="ri-check-line h1"></i>
                                                    <h3 class="mt-1">Erfolgreich!</h3>
                                                    <p class="mt-2 h4">Die Daten wurden erfolgreich hochgeladen!</p>
                                                    <button type="button" class="btn btn-light my-2" data-bs-dismiss="modal">Weiter...</button>
                                                </div>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>
                                <div id="info-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-body p-4">
                                                <div class="text-center">
                                                    <i class="ri-information-line h1 text-info"></i>
                                                    <h3 class="mt-2">Hinweis!</h3>
                                                    <p class="mt-3 p3">Der Download von Daten aus JPP könnte etwas Zeit inHinweis! Anspruch nehmen. Bitte drücken Sie auf "Weiter..." und haben Sie etwas Geduld, bis die Seite komplett geladen ist.</p>
                                                    
                                                    <button type="button" id="continueButtonn" class="btn btn-info my-2" data-bs-dismiss="modal">Weiter...</button>
                                                        <script>
                                                        $(document).ready(function() {
                                                            function ajaxUpdateForAngebots($button, url, successMessage) {
                                                                $button.find('.spinner-border').show();
                                                                $button.find('.loading-text').show();
                                                                
                                                                $.ajax({
                                                                    method: 'POST',
                                                                    url: url,
                                                                    data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
                                                                    success: function() {
                                                                        $button.find('.spinner-border').hide();
                                                                        $button.find('.loading-text').hide();
                                                                        $('#success-alert-modal').modal('show');
                                                                        
                                                                    },
                                                                    error: function() {
                                                                        $button.find('.spinner-border').hide();
                                                                        $button.find('.loading-text').hide();
                                                                        alert('An error occurred while updating.');
                                                                    }
                                                                });
                                                            }

                                                            $('#load-user-angebots-button').click(function() {
                                                                ajaxUpdateForAngebots($(this), "{% url 'vertrieb_interface:load_user_angebots' %}", 'JPP Einträge updated successfully.');
                                                            });

                                                            // For loading of User Angebots with a delay


                                                            // Redirect to another page when the success modal is hidden
                                                            $('#success-alert-modal').on('hidden.bs.modal', function (e) {
                                                                window.location.href = "{% url 'vertrieb_interface:home' %}";
                                                            });
                                                        });
                                                        </script>
                                                </div>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>
                                <form id="create-angebot-form" method="POST" action="{% url 'vertrieb_interface:create_angebot' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="create_blank_angebot" value="1">
                                    <button type="submit" class="btn btn-outline-info rounded-pill">Neues Angebot erstellen</button>
                                </form>
                            </div>
                            <p></p>                     
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                    {% if user.angebot_statusubersicht_view == True %}
                    <div class="card border-info border">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="header-title">Angebote Statusübersicht</h4>
                        </div>
                        <div class="card-body pt-0">
                            <div class="row align-items-center">
                                <div class="col-md-6 order-2 order-md-1">
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="flex-shrink-0">
                                            <i class="mdi mdi-checkbox-blank-circle widget-icon rounded-circle bg-success-lighten text-success"></i>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h5 class="fw-semibold mt-0 mb-1">Angenommen</h5>
                                            <ul class="list-inline mb-0 text-muted">
                                                <li class="list-inline-item"><b>{{ angenommen }}</b> Angebote</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="flex-shrink-0">
                                            <i class="mdi mdi-checkbox-blank-circle widget-icon rounded-circle bg-danger-lighten text-danger"></i>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h5 class="fw-semibold mt-0 mb-1">Abgelehnt</h5>
                                            <ul class="list-inline mb-0 text-muted">
                                                <li class="list-inline-item"><b>{{ abgelehnt }}</b> abgelehnt</li>
                                                <li class="list-inline-item"><i class="mdi mdi-circle-small"></i></li>
                                                <li class="list-inline-item"><b>{{ abgelaufen }}</b> abgelaufen</li>
                                                
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center mb-3">
                                        <div class="flex-shrink-0">
                                            <i class="mdi mdi-checkbox-blank-circle widget-icon rounded-circle bg-warning-lighten text-warning"></i>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h5 class="fw-semibold mt-0 mb-1">Bekommen</h5>
                                            <ul class="list-inline mb-0 text-muted">
                                                <li class="list-inline-item"><b>{{ bekommen }}</b> Angebote</li>
                                                
                                                
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center mb-3">
                                        <div class="flex-shrink-0">
                                            <i class="mdi mdi-checkbox-blank-circle widget-icon rounded-circle bg-primary-lighten text-primary"></i>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h5 class="fw-semibold mt-0 mb-1">in Kontakt und Kontaktversuch</h5>
                                            <ul class="list-inline mb-0 text-muted">
                                                <li class="list-inline-item"><b>{{ in_Kontakt }}</b> Angebote in Kontakt</li>
                                                <li class="list-inline-item"><i class="mdi mdi-circle-small"></i></li>
                                                <li class="list-inline-item"><b>{{ Kontaktversuch }}</b> in Kontaktversuch</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="flex-shrink-0">
                                            <i class="mdi mdi-checkbox-blank-circle widget-icon rounded-circle bg-secondary-lighten text-secondary"></i>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h5 class="fw-semibold mt-0 mb-1">Status lee</h5>
                                            <ul class="list-inline mb-0 text-muted">
                                                <li class="list-inline-item"><b>{{ lee }}</b>offene Angebote</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 order-1 order-md-2">
                                    <div class="mb-3 mb-md-0">
                                        <div id="project-overview-chart" class="apex-charts" data-colors="#0acf97,#ff679b,#ffbc00,#727cf5,#212730"></div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            
            <div class="col-xl-3">
            {% if user.anzahl_sol_module_view == True %}
                <div class="card border-info border">
                    <div class="d-flex card-header justify-content-between align-items-center">
                        <h4 class="header-title">Anzahl der verkauften Solarmodule</h4>
                    </div>
                    <div class="card-body pt-0">
                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Solarmodule Model</th>
                                        <th>Bestandsrest</th>  
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for stat in solar_module_stats %}
                                        <tr>
                                            <td>
                                                <h5 class="font-16 my-1 fw-normal">{{ stat.solar_module }}</h5>
                                                <span class="text-muted font-13">Solarmodule Model</span>
                                            </td>
                                            <td>
                                                {% with stock=remaining_stock|get_item:stat.solar_module %}
                                                    {% if stock > 250 %}
                                                        <h5 class="font-18 my-1 fw-normal text-success">{{ stock }}</h5>
                                                    {% elif stock > 70 %}
                                                        <h5 class="font-18 my-1 fw-normal text-warning">{{ stock }}</h5>
                                                    {% else %}
                                                        <h5 class="font-18 my-1 fw-normal text-danger">{{ stock }}</h5>
                                                    {% endif %}
                                                    
                                                {% endwith %}
                                            </td>

                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div> <!-- end table-responsive-->
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
                {% endif %}

                        
                {% if user.pv_rechner_view == True %}
                <div class="card border-info border p-0">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="header-title">Schnell-PV-Rechner</h4>
                    </div>
                    <div class="card-body pt-0">
                        <form id="calculator_form" method="post">
                            {% csrf_token %}
                            <table class="table table-sm table-centered mb-0">
                                <tbody>
                                    <tr>
                                        <td>{{ calculator_form.solar_module }}</td>
                                        <td><input type="number" class="form-control" id="id_modulanzahl" name="{{ calculator_form.modulanzahl.html_name }}" value="{{ calculator_form.modulanzahl.value }}" data-resettable="true" /></td>
                                    </tr>
                                    <tr>
                                        <td>{{ calculator_form.wallboxtyp }}</td>
                                        <td><input type="number" class="form-control" id="id_wallbox_anzahl" name="{{ calculator_form.wallbox_anzahl.html_name }}" value="{{ calculator_form.wallbox_anzahl.value }}" data-resettable="true" /></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Optimierer</strong></td>
                                        <td><input type="number" class="form-control" id="id_anzOptimizer" name="{{ calculator_form.anzOptimizer.html_name }}" value="{{ calculator_form.anzOptimizer.value }}" data-resettable="true" /></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Speicher</strong></td>
                                        <td><input type="number" class="form-control" id="id_anz_speicher" name="{{ calculator_form.anz_speicher.html_name }}" value="{{ calculator_form.anz_speicher.value }}" data-resettable="true" /></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Notstrom</strong></td>
                                        <td>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="notstrom" {% if calculator_form.notstrom.value %}checked{% endif %} data-switch="success" name="{{ calculator_form.notstrom.html_name }}" data-resettable="true" />
                                                <label class="custom-control-label" for="notstrom" data-on-label="Ja" data-off-label="Nein"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ calculator_form.elwa.label_tag }}</th>
                                        <td>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="elwa" {% if calculator_form.elwa.value %}checked{% endif %} data-switch="success" name="{{ calculator_form.elwa.html_name }}" />
                                                <label class="custom-control-label" for="elwa" data-on-label="Ja" data-off-label="Nein"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ calculator_form.thor.label_tag }}</th>
                                        <td>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="thor" {% if calculator_form.thor.value %}checked{% endif %} data-switch="success" name="{{ calculator_form.thor.html_name }}" />
                                                <label class="custom-control-label" for="thor" data-on-label="Ja" data-off-label="Nein"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="thor-details-table" style="{% if not calculator_form.thor.value %}display: none;{% endif %}">
                                        <th>{{ calculator_form.heizstab.label_tag }}</th>
                                        <td>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="heizstab-checkbox" {% if calculator_form.heizstab.value %}checked{% endif %} data-switch="success" name="{{ calculator_form.heizstab.html_name }}" />
                                                <label class="custom-control-label" for="heizstab-checkbox" data-on-label="Ja" data-off-label="Nein"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <script>
                                        // Toggle visibility of the inner table based on the checkbox state
                                        document.getElementById("thor").addEventListener("change", function() {
                                            let thorDetailsTable = document.getElementById("thor-details-table");
                                            if (this.checked) {
                                                thorDetailsTable.style.display = "table";
                                            } else {
                                                thorDetailsTable.style.display = "none";
                                            }
                                        });
                                    </script>
                                </tbody>
                            </table>
                            <table class="table table-sm table-centered mb-0">
                                <tbody>
                                    <tr>
                                        <th><p class="h5">{{ calculator_form.angebotsumme.label }}</p></th>
                                        <input hidden type="number" class="form-control" id="id_angebotsumme" name="{{ calculator_form.angebotsumme.html_name }}" value="{{ calculator_form.angebotsumme.value }}" data-resettable="true" />
                                        <td><p class="h5" id="angebotsumme">{{ calculator_instance.angebotsumme|format_price }}</p></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="card-footer">
                                <button type="button" class="btn btn-outline-warning m-1 rounded-pill" onclick="resetForm()">Zurücksetzen</button>
                                <script>
                                    function resetForm() {
                                        let resettableFields = document.querySelectorAll("[data-resettable=true]");
                                        resettableFields.forEach(field => {
                                            if (field.type === "checkbox" || field.type === "radio") {
                                                field.checked = false;
                                            } else {
                                                field.value = "0";
                                            }
                                        });
                                        document.getElementById("calculator_form").submit();
                                    }
                                </script>
                                <button type="submit" class="btn btn-outline-info m-1 rounded-pill">Rechnen</button>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}

 
            </div>
                <div class="col-xl-3">
                    {% if user.profile_container_view == True %}
                    <div class="card border-info border">
                        <div class="card-body">
                            <span class="float-start m-2 me-4">
                                {% if user.avatar %}
                                <img src="{{ user.avatar.url }}" style="height: 100px;" alt="avatar-2" class="rounded-circle img-thumbnail">
                                {% endif %}
                            </span>
                            <div class="">
                                <h4 class="mt-1 mb-1">{{ user.first_name}} {{ user.last_name}}</h4>
                                <p class="font-13"> {{ user.email }} </p>
                        
                                <ul class="mb-0 list-inline">
                                    <li class="list-inline-item me-3">
                                        <h5 class="mb-1">{{ user.kuerzel }}</h5>
                                        <p class="mb-0 font-13">{{ user.beruf }}</p>
                                    </li>
                                    
                                </ul>
                            </div>
                            <!-- end div-->
                        </div>
                        <!-- end card-body-->
                    </div>
                    {% endif %}
                        {% if user.activity_container_view == True %}
                        <div class="card border-info border">
                            <div class="d-flex card-header justify-content-between align-items-center">
                                <h4 class="header-title">Letzte Aktivitäten </h4>
                                
                            </div>
                        
                            <div class="card-body py-0 mb-3" data-simplebar style="max-height: 710px;"> 
                                <div class="timeline-alt py-0">
                                    {% for activity in activities %}
                                        <div class="timeline-item">
                                            <i class="mdi {{ activity.icon }} timeline-icon"></i>
                                            <div class="timeline-item-info"> 
                                                <a href="{% url 'vertrieb_interface:edit_angebot' activity.object.repr %}" class="{{ activity.action.class }} fw-bold mb-1 d-block">{{ activity.action.message }}</a>
                                                <p class="{{ activity.object.class }}">{{ activity.object.repr }}</p>
                                                <small>Kundenname: {{ activity.kundenname }}</small><br>
                                                <small>Angebotstatus: {{ activity.status }}</small>
                                                <p class="mb-0 pb-2">
                                                    <small class="text-muted">{{ activity.action_time }}</small>
                                                </p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>  
                        <!-- end card-->
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <script>document.write(new Date().getFullYear())</script> © Juno-Solar Home 
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end footer-links d-none d-md-block">
                            <a type="submit" href="javascript:void(0)" id="send_support_message">Support</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="d-print-none mt-4">
            <div class="text-end">
                <div id="success-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content modal-filled bg-success">
                            <div class="modal-body p-4">
                                <div class="text-center">
                                    <i class="ri-check-line h1"></i>
                                    <h4 class="mt-2">Gut gemacht!</h4>
                                    <p class="mt-3">Email support message wurde erfolgreich versendet!</p>
                                    <button type="button" class="btn btn-light my-2" data-bs-dismiss="modal">Weiter</button>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}

{% block javascript %}
<script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
<script>
$(document).ready(function() {
    // Function to handle tab actions
    function handleTabs() {
        // Get the previously active tab from local storage
        var activeTab = localStorage.getItem('activeTab');

        // If there's an active tab stored, activate it and then remove it from local storage
        if (activeTab) {
            $('[href="' + activeTab + '"]').tab('show');
            localStorage.removeItem('activeTab');  // Deleting the activeTab item from local storage
        }

        // When any tab is clicked, save it to the local storage
        $('.nav-tabs a').on('click', function() {
            var tabId = $(this).attr('href');
            localStorage.setItem('activeTab', tabId);
        });
    }

    // Call the handleTabs function
    handleTabs();
});
</script>
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    document.getElementById('send_support_message').addEventListener('click', function() {
        var csrfToken = getCookie('csrftoken'); 
        fetch('{% url 'vertrieb_interface:send_support_message' %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({})
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            if (data.status === 'success') {
                $('#success-alert-modal').modal('show');
            }
        });
    });
</script>
<script> 
    ! function(e) {
        "use strict";
    
        function t() {
            this.$body = e("body"), this.charts = []
        }
        t.prototype.init = function() {
            this.initCharts()
        }, t.prototype.initCharts = function() {
            var t = ["#727cf5", "#0acf97"],
                o = e("#crm-project-statistics").data("colors"),
                r = {
                    chart: {
                        height: 326,
                        type: "bar",
                        toolbar: {
                            show: !1
                        }
                    },
                    plotOptions: {
                        bar: {
                            horizontal: !1,
                            endingShape: "rounded",
                            columnWidth: "25%"
                        }
                    },
                    dataLabels: {
                        enabled: !1
                    },
                    stroke: {
                        show: !0,
                        width: 3,
                        colors: ["transparent"]
                    },
                    colors: t = o ? o.split(",") : t,
                    series: [{
                        name: "Projects",
                        data: [56, 38, 85, 72, 28, 69, 55, 52, 69]
                    }, {
                        name: "Working Hours",
                        data: [176, 185, 256, 240, 187, 205, 191, 114, 194]
                    }],
                    xaxis: {
                        categories: ["Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct"]
                    },
                    legend: {
                        offsetY: 7
                    },
                    fill: {
                        opacity: 1
                    },
                    grid: {
                        row: {
                            colors: ["transparent", "transparent"],
                            opacity: .2
                        },
                        borderColor: "#f1f3fa",
                        padding: {
                            bottom: 5
                        }
                    }
                },
                t = (new ApexCharts(document.querySelector("#crm-project-statistics"), r).render(), ["#727cf5", "#0acf97"]),
                r = {
                    chart: {
                        height: 256,
                        type: "donut"
                    },
                    legend: {
                        show: !1
                    },
                    stroke: {
                        colors: ["transparent"]
                    },
                    series: [82, 37],
                    labels: ["Done Projects", "Pending Projects"],
                    colors: t = (o = e("#monthly-target").data("colors")) ? o.split(",") : t,
                    responsive: [{
                        breakpoint: 480,
                        options: {
                            chart: {
                                width: 200
                            },
                            legend: {
                                position: "bottom"
                            }
                        }
                    }]
                };
            new ApexCharts(document.querySelector("#monthly-target"), r).render()
        }, e.CrmProject = new t, e.CrmProject.Constructor = t
    }(window.jQuery),
    function(o) {
         "use strict";
         o(document).ready(function(t) {
             o.CrmProject.init()
         })
     }(window.jQuery);
     
     var colors = ["#727cf5", "#fa5c7c", "#ffbc00", "#0acf97", "#212730"];

        dataColors = $("#project-overview-chart").data("colors"),
    total = {{ current_user_vertriebangebots }},
    series = [
        Math.round({{ angenommen }} * 1000 / total) / 10, 
        Math.round({{ abgelehnt }} * 1000 / total) / 10, 
        Math.round({{ bekommen }} * 1000 / total) / 10, 
        Math.round(({{ in_Kontakt }} + {{ Kontaktversuch }}) * 1000 / total) / 10,
        Math.round({{ lee }} * 1000 / total) / 10,

    ],
    options = {
        chart: {
            height: 388,
            type: "radialBar"
        },
        colors: dataColors ? dataColors.split(",") : colors,
        series: series,
        labels: ["Angenommen", "Abgelehnt", "Bekommen", "in Kontakt und Kontaktversuch", "offene Angebote"],
        plotOptions: {
            radialBar: {
                track: {
                    margin: 7
                }
            }
        }
    },
    chart = new ApexCharts(document.querySelector("#project-overview-chart"), options);
chart.render();
 </script>
 
 <script>
    function disableFor30Seconds(event) {
    event.preventDefault();
    var button = document.getElementById('loadButton');
    var spinner = document.getElementById('spinner');
    var buttonText = document.getElementById('buttonText');

    spinner.style.display = 'inline-block';
    buttonText.style.display = 'none';

    button.setAttribute("disabled", "true");
    setTimeout(function () {
        button.removeAttribute("disabled");
        spinner.style.display = 'none';
        buttonText.style.display = 'inline-block';
    }, 30000);

    fetch('{% url "vertrieb_interface:load_user_angebots" %}')
        .then(response => response.text())
        .then(data => {
        // process data
        button.removeAttribute("disabled");
        spinner.style.display = 'none';
        buttonText.style.display = 'inline-block';
        });
    }
</script>

<script>
    // Wait until the DOM is fully loaded
    document.addEventListener("DOMContentLoaded", function() {
        // Get the link element
        var link = document.getElementById("create-invoice-link");

        // Add a click event listener to the link
        link.addEventListener("click", function(event) {
            // Prevent the link's default behavior
            event.preventDefault();

            // Submit the form
            document.getElementById("create-invoice-form").submit();
        });
    });
</script>
{% endblock %}

{% block extra_js %}   
<script src="{% static 'assets/js/vendor.min.js' %}"></script>

<script src="{% static 'assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<!-- Code Highlight js -->


<script src="{% static 'assets/js/app.min.js' %}"></script>
<!-- Daterangepicker js -->
<script src="{% static 'assets/vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'assets/vendor/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'assets/js/pages/demo.dashboard.js' %}"></script>
{% endblock %}  

