{% extends 'vertrieb/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block content%}
<div class="content-page">
    <div class="content">
    <form method="post">
        {% csrf_token %}

        <!-- Start Content-->
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-6">
                    <div class="page-title-box">
                        <div class="page-title-right">
                        </div>
                        <h4 class="page-title">Profile</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card bg-gradient border-success border">
                        <div class="card-body profile-user-box">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <div class="avatar-lg">
                                                {% if user.avatar %}
                                                <img src="{{ user.avatar.url }}" alt="" class="rounded-circle img-thumbnail">
                                                {% else %}
                                                <img src="{% static 'assets/images/users/avatar-1.jpg' %}" alt="user-image" width="32" class="rounded-circle">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div>
                                                <h4 class="mt-1 mb-1 text-white">{{ user.first_name }} {{ user.last_name }}</h4>
                                                <p class="font-13 text-white-50"> {{ user.beruf }}</p>

                                                <ul class="mb-0 list-inline text-light">
                                                    <li class="list-inline-item me-3">
                                                        <h5 class="mb-1 text-white"> {{ user.kuerzel }}</h5>
                                                        <p class="mb-0 font-13 text-white-50">Kürzel</p>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <h5 class="mb-1 text-white">{{ user.date_joined }}</h5>
                                                        <p class="mb-0 font-13 text-white-50">Date joined</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end col-->
                            </div> <!-- end row -->
                        </div> <!-- end card-body/ profile-user-box-->
                    </div><!--end profile/ card -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card border-info border">
                        <div class="card-body">
                            <h4 class="header-title mt-0 mb-3">{{ user.beruf }} Informationen</h4>
                            
                            <hr/>

                            <div class="text-start">
                                <p class="text-muted"><strong>Name und Vorname :</strong> <span class="ms-2">{{ user.first_name }} {{ user.last_name }}</span></p>

                                <p class="text-muted"><strong>Mobile :</strong><span class="ms-2">{{ user.phone }}</span></p>

                                <p class="text-muted"><strong>Email :</strong> <span class="ms-2">{{ user.email }}</span></p>

                                <p class="text-muted"><strong>Standort :</strong> <span class="ms-2">Deutschland</span></p>

                                <p class="text-muted"><strong>Sprache :</strong>
                                    <span class="ms-2"> English, German </span>
                                </p>
                                <p class="text-muted mb-0" id="tooltip-container"><strong>Anderswo :</strong>
                                    <a class="d-inline-block ms-2 text-muted" data-bs-container="#tooltip-container" data-bs-placement="top" data-bs-toggle="tooltip" href="" title="Facebook"><i class="mdi mdi-facebook"></i></a>
                                    <a class="d-inline-block ms-2 text-muted" data-bs-container="#tooltip-container" data-bs-placement="top" data-bs-toggle="tooltip" href="" title="Twitter"><i class="mdi mdi-twitter"></i></a>
                                    <a class="d-inline-block ms-2 text-muted" data-bs-container="#tooltip-container" data-bs-placement="top" data-bs-toggle="tooltip" href="" title="Skype"><i class="mdi mdi-skype"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col-->
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card border-primary border">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Anzeige von Containern auf der HOME-Seite</h5>

                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Unsere Mitarbeiter</td>
                                            <td><input type="checkbox" id="top_verkaufer_container_view" name="{{ form.top_verkaufer_container_view.name }}" {% if form.top_verkaufer_container_view.value %}checked{% endif %} data-switch="info"/><label for="top_verkaufer_container_view" data-on-label="Ja" data-off-label="Nein"></label></td>
                                            <td>Anzeige des Containers "Unsere Mitarbeiter"</td>
                                        </tr>
                                        <tr>
                                            <td>Profil</td>
                                            <td><input type="checkbox" id="profile_container_view" name="{{ form.profile_container_view.name }}" {% if form.profile_container_view.value %}checked{% endif %} data-switch="info"/><label for="profile_container_view" data-on-label="Ja" data-off-label="Nein"></label></td>
                                            <td>Anzeige des Containers "Profil"</td>
                                        </tr>
                                        <tr>
                                            <td>Letzte Aktivitäten</td>
                                            <td><input type="checkbox" id="activity_container_view" name="{{ form.activity_container_view.name }}" {% if form.activity_container_view.value %}checked{% endif %} data-switch="info"/><label for="activity_container_view" data-on-label="Ja" data-off-label="Nein"></label></td>
                                            <td>Anzeige des Containers "Letzte Aktivitäten"</td>
                                        </tr>
                                        <tr>
                                            <td>Angebotstatus Übersicht</td>
                                            <td><input type="checkbox" id="angebot_statusubersicht_view" name="{{ form.angebot_statusubersicht_view.name }}" {% if form.angebot_statusubersicht_view.value %}checked{% endif %} data-switch="info"/><label for="angebot_statusubersicht_view" data-on-label="Ja" data-off-label="Nein"></label></td>
                                            <td>Anzeige des Containers "Angebotstatus Übersicht"</td>
                                        </tr>
                                        <tr>
                                            <td>Schnell-PV-Rechner</td>
                                            <td><input type="checkbox" id="pv_rechner_view" name="{{ form.pv_rechner_view.name }}" {% if form.pv_rechner_view.value %}checked{% endif %} data-switch="info"/><label for="pv_rechner_view" data-on-label="Ja" data-off-label="Nein"></label></td>
                                            <td>Anzeige des Containers "Schnell-PV-Rechner"</td>
                                        </tr>
                                        <tr>
                                            <td>Anzahl der verkauften Solarmodule</td>
                                            <td><input type="checkbox" id="anzahl_sol_module_view" name="{{ form.anzahl_sol_module_view.name }}" {% if form.anzahl_sol_module_view.value %}checked{% endif %} data-switch="info"/><label for="anzahl_sol_module_view" data-on-label="Ja" data-off-label="Nein"></label></td>
                                            <td>Anzeige des Containers "Anzahl der verkauften Solarmodule"</td>
                                        </tr>
                                    </tbody>
                                </table>

                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div>
                {% comment %} </div>
                <div class="row"> {% endcomment %}
            <div class="row">
               <div class="col-12">
                    <div class="card border-primary border">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Initial Data for ANGEBOT creation</h5>

                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>{{ form.map_notizen_container_view.label_tag }}</th>
                                            <td>{{ form.map_notizen_container_view }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ form.initial_solar_module.label_tag }}</th>
                                            <td>{{ form.initial_solar_module }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ form.initial_modulanzahl.label_tag }}</th>
                                            <td>{{ form.initial_modulanzahl }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ form.initial_anz_speicher.label_tag }}</th>
                                            <td>{{ form.initial_anz_speicher }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ form.initial_wandhalterung_fuer_speicher.label_tag }}</th>
                                            <td>
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="id_initial_wandhalterung_fuer_speicher" {% if form.initial_wandhalterung_fuer_speicher.value %}checked{% endif %} data-switch="success" name="{{ form.initial_wandhalterung_fuer_speicher.html_name }}" />
                                                    <label class="custom-control-label" for="id_initial_wandhalterung_fuer_speicher" data-on-label="Ja" data-off-label="Nein"></label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>{{ form.initial_ausrichtung.label_tag }}</th>
                                            <td>{{ form.initial_ausrichtung }}</td>
                                        </tr>
                                        
                                        
                                        
                                        
                                        <tr>
                                            <th>{{ form.initial_elwa.label_tag }}</th>
                                            <td>
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="id_initial_elwa" {% if form.initial_elwa.value %}checked{% endif %} data-switch="success" name="{{ form.initial_elwa.html_name }}" />
                                                    <label class="custom-control-label" for="id_initial_elwa" data-on-label="Ja" data-off-label="Nein"></label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>{{ form.initial_thor.label_tag }}</th>
                                            <td>
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="thor" {% if form.thor.value %}checked{% endif %} data-switch="success" name="{{ form.thor.html_name }}" />
                                                    <label class="custom-control-label" for="thor" data-on-label="Ja" data-off-label="Nein"></label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>{{ form.initial_heizstab.label_tag }}</th>
                                            <td>
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="heizstab-checkbox" {% if form.heizstab.value %}checked{% endif %} data-switch="success" name="{{ form.heizstab.html_name }}" />
                                                    <label class="custom-control-label" for="heizstab-checkbox" data-on-label="Ja" data-off-label="Nein"></label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>{{ form.initial_notstrom.label_tag }}</th>
                                            <td>
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="switch044" {% if form.initial_notstrom.value %}checked{% endif %} data-switch="success" name="{{ form.initial_notstrom.html_name }}" />
                                                    <label class="custom-control-label" for="switch044" data-on-label="Ja" data-off-label="Nein"></label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>{{ form.initial_anzOptimizer.label_tag }}</th>
                                            <td>{{ form.initial_anzOptimizer }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ form.initial_wallboxtyp.label_tag }}</th>
                                            <td>{{ form.initial_wallboxtyp }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ form.initial_wallbox_anzahl.label_tag }}</th>
                                            <td>{{ form.initial_wallbox_anzahl }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ form.intial_kabelanschluss.label_tag }}</th>
                                            <td>{{ form.intial_kabelanschluss }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ form.initial_garantieWR.label_tag }}</th>
                                            <td>{{ form.initial_garantieWR }}</td>
                                        </tr>

                                        <tr>
                                            <th>{{ form.initial_komplex.label_tag }}</th>
                                            <td>{{ form.initial_komplex }}</td>
                                        </tr>

                                        <tr>
                                            <th>{{ form.initial_verbrauch.label_tag }}</th>
                                            <td>{{ form.initial_verbrauch }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ form.initial_grundpreis.label_tag }}</th>
                                            <td>{{ form.initial_grundpreis }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ form.initial_arbeitspreis.label_tag }}</th>
                                            <td>{{ form.initial_arbeitspreis }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ form.initial_prognose.label_tag }}</th>
                                            <td>{{ form.initial_prognose }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ form.initial_zeitraum.label_tag }}</th>
                                            <td>{{ form.initial_zeitraum }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ form.initial_bis10kWp.label_tag }}</th>
                                            <td>{{ form.initial_bis10kWp }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ form.initial_bis40kWp.label_tag }}</th>
                                            <td>{{ form.initial_bis40kWp }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- Submit Button -->
                                <div class="text-right mt-3">
                                    <button type="submit" class="btn btn-outline-info rounded-pill">Speichern</button>
                                </div>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <script>document.write(new Date().getFullYear())</script> © Juno-Solar Home 
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end footer-links d-none d-md-block">
                            <a type="submit" href="javascript:void(0)" id="send_support_message">Support</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="d-print-none mt-4">
            <div class="text-end">
                <div id="success-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content modal-filled bg-success">
                            <div class="modal-body p-4">
                                <div class="text-center">
                                    <i class="ri-check-line h1"></i>
                                    <h4 class="mt-2">Gut gemacht!</h4>
                                    <p class="mt-3">Email support message wurde erfolgreich versendet!</p>
                                    <button type="button" class="btn btn-light my-2" data-bs-dismiss="modal">Weiter</button>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
            </div>
        </div>
    </form>
    </div> <!-- end col-->
</div>

{% endblock %}
{% block extra_js %}
        <!-- Vendor js -->
        <script src="{% static 'assets/js/vendor.min.js' %}"></script>

        <!-- Chart.js -->
        <script src="{% static 'assets/vendor/chart.js/chart.min.js' %}"></script>

        <!-- Profile Demo App js -->
        <script src="{% static 'assets/js/pages/demo.profile.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'assets/js/app.min.js' %}"></script>
{% endblock %}
