check my template : {% extends 'vertrieb/base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block head %}
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <style>
    body {
      background-image: url("{% static 'img/juno-background-dark.png' %}");
   }
  </style>   
{% endblock %}
{% block content %}
{% if form.errors %}
    <div class="alert alert-danger">
        Please correct the following errors:
        <ul>
        {% for field in form %}
            {% if field.errors %}
                <li>{{ field.label }} - {{ field.errors.0 }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
{% endif %}
  <div class="container">
    <div class="tabs-container">
      <ul class="tabs">
        <li class="tab-item active" data-tab="info">Info</li>
        <li class="tab-item" data-tab="wallbox" id="wallbox-tab">Wallbox</li>
        <li class="tab-item" data-tab="module">Module & Zubehör</li>
        <li class="tab-item" data-tab="ticket">Ticket</li>
      </ul>

      <div id="info" class="tab-content active">
        <!-- Info Tab -->
        <form id="kunden-data-form" method="POST" action="{% url 'vertrieb_interface:edit_angebot' vertrieb_angebot.angebot_id %}">
            {% csrf_token %}
          <div class="row">
            <div class="column">
              <!-- Your code for Info Tab -->
              {{ form.anrede.label_tag }}
              {{ form.name.label_tag }}
              {{ form.firma.label_tag }}
              {{ form.strasse.label_tag }}
              {{ form.ort.label_tag }}
              {{ form.anlagenstandort.label_tag }}
              {{ form.verbrauch.label_tag }}
              {{ form.grundpreis.label_tag }}
              {{ form.arbeitspreis.label_tag }}
              {{ form.prognose.label_tag }}
              {{ form.zeitraum.label_tag }}
              {{ form.bis10kWp.label_tag }}
              {{ form.bis40kWp.label_tag }}
              {{ form.speicher.label_tag }}
              {{ form.anz_speicher.label_tag }}
              {{ form.wallbox.label_tag }}
              {{ form.ausrichtung.label_tag }}
              {{ form.komplex.label_tag }}
            </div>
            <div class="column">
              <div class="form-row-anrede">
                <div class="form-field-anrede">
                  {% for radio in form.anrede %}
                    <div style="display: flex; align-items: center;">{{ radio.tag }} {{ radio.choice_label }}</div>
                  {% endfor %}
                </div>
              </div>
              {{ form.name }}
              {{ form.firma }}
              {{ form.strasse }}
              {{ form.ort }}
              {{ form.anlagenstandort }}
              {{ form.verbrauch }}
              {{ form.grundpreis }}
              {{ form.arbeitspreis }}
              {{ form.prognose }}
              {{ form.zeitraum }}
              {{ form.bis10kWp }}
              {{ form.bis40kWp }}
              <div style="display: flex; align-items: center;">{{ form.speicher }}___ Ja / Nein</div>
              {{ form.anz_speicher }}
              <div style="display: flex; align-items: center;">{{ form.wallbox }}___ Ja / Nein</div>
              {{ form.ausrichtung }}
              {{ form.komplex }}
              {{ kunden_data.full_adresse }}
            </div>
          </div>
        
      </div> <!-- Wallbox Tab -->
      <div class="tab-content" id="wallbox">
        <form id="wallbox-form" method="POST" action="{% url 'vertrieb_interface:edit_angebot' vertrieb_angebot.angebot_id %}">
            {% csrf_token %}
          <div class="row">
            <div class="column">
                        {{ form_wallbox.wallboxtyp.label_tag }}
              {{ form_wallbox.anzahl.label_tag }}
              {{ form_wallbox.kabelanschluss.label_tag }}</div>
            <div class="column">
              {{ form_wallbox.wallboxtyp }}
              {{ form_wallbox.anzahl }}
              {{ form_wallbox.kabelanschluss }}</div>
          </div>
        </form>
      </div> <!-- Module & Zubehör Tab -->
      <div class="tab-content" id="module">
        <form id="module-form" method="POST" action="{% url 'vertrieb_interface:edit_angebot' vertrieb_angebot.angebot_id %}">
            {% csrf_token %}
          <table>
            <tr>
              <th>{{ form_module.module.label_tag }}</th>
              <td>{{ form_module.module }}</td>
            </tr>
            <tr>
              <th>{{ form_module.modulanzahl.label_tag }}</th>
              <th><input type="number" id="modulanzahl" name="modulanzahl" value='{{ form_module.modulanzahl }}'></th> 
            </tr>
            <tr>
              <th>{{ form_module.garantieWR.label_tag }}</th>
              <td>{{ form_module.garantieWR }}</td>
            </tr>
            <tr>
              <th>{{ form_module.eddi.label_tag }}</th>
              <td>{{ form_module.eddi }}</td>
            </tr>
            <tr>
              <th>{{ form_module.notstrom.label_tag }}</th>
              <td>{{ form_module.notstrom }}</td>
            </tr>
            <tr>
              <th>{{ form_module.optimizer.label_tag }}</th>
              <td>{{ form_module.optimizer }} {{ form_module.anzOptimizer }}</td>
            </tr>
            <tr>
              <th>Modulleistung [Wp]</th>
              <td id="modulleistungWp" name="modulleistungWp">{{ solar_module.modulleistungWp }}</td>
            </tr>
            <tr>
              <th>Modullsumme [kWp]</th>
              <td id="modulsumme_kWp" name="modulsumme_kWp">{{ solar_module.modulsumme_kWp }}</td>
            </tr>
          </table>
          <p style="font-size: 16px; text-align: center; margin-top: 10px;">Gesamtpreis PV-Anlage (inkl. Monatge)</p>
          <table>
            <tr>
              <th>Preis Netto</th>
              <td>0.00</td>
            </tr>
            <tr>
              <th>Preis Brutto</th>
              <td>0.00</td>
            </tr>
          </table>
          <p></p>
          <table>
            <tr>
              <th>Erzeugte Energie pro Jahr [kWh]</th>
              <td>0 kWh</td>
            </tr>
            <tr>
              <th>Nutzbare PV-Energie [kWh]</th>
              <td>0 kWh</td>
            </tr>
            <tr>
              <th>Benögte Restenegie [kWh]</th>
              <td>0 kWh</td>
            </tr>
            <tr>
              <th>kosten für Restenegie</th>
              <td>0</td>
            </tr>
            <tr>
              <th>Einspreisevergütung gesamt</th>
              <td>0</td>
            </tr>
          </table>
          <p></p>
          <table>
            <tr>
              <th>Stromkosten ohne PV-Anlage</th>
              <td>0</td>
            </tr>
            <tr>
              <th>Preis abzgl Vergütung und inkl. Restrom</th>
              <td>0</td>
            </tr>
            <tr>
              <th>Ersparnis</th>
              <td>0</td>
            </tr>
          </table>
        </form>
      </div>
      <!-- Ticket Tab -->
      <div class="tab-content" id="ticket">
        <form id="ticket-form" method="POST" action="{% url 'vertrieb_interface:edit_angebot' vertrieb_angebot.angebot_id %}">
            {% csrf_token %}
          <div class="row">
            <div class="column">{{ form_ticket.modulleistung.label_tag }}
              {{ form_ticket.leistung_bisher.label_tag }}
              {{ form_ticket.leistungsgewinn.label_tag }}
              {{ form_ticket.gesamtleistung.label_tag }}
              {{ form_ticket.modul.label_tag }}
              {{ form_ticket.optimizer.label_tag }}
              {{ form_ticket.batteriemodule.label_tag }}
              {{ form_ticket.notstrom.label_tag }}
              {{ form_ticket.eddi.label_tag }}</div>
            <div class="column">
              {{ form_ticket.modulleistung }}
              {{ form_ticket.leistung_bisher }}
              {{ form_ticket.leistungsgewinn }}
              {{ form_ticket.gesamtleistung }}
              {{ form_ticket.modul }}
              {{ form_ticket.optimizer }}
              {{ form_ticket.batteriemodule }}
              {{ form_ticket.notstrom }}
              {{ form_ticket.eddi }}</div>
          </div>
        </form>
      </div>
    </div>
    <aside class="actions">
      <button id="save-all-forms">Save All Forms</button>
      <button id="create-offer">Angebots-PDF erstellen</button>
      <button id="calculate">Kalkulations-PDF erstellen</button>
      <button id="ticket">Ticket-PDF erstellen</button>
      <button id="cancel">Abbrechen</button>
    </aside>
  </div>