{% extends 'vertrieb/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load custom_filter %}
{% block content %}
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right"></div>
                            
                        </div>
                    </div>
                </div>           
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card d-block">
                        <div class="card-body">
                            <div class="table-container">
                                <table id="scroll-horizontal-datatable" class="table table-striped nowrap row-border order-column w-100">
                                    <thead>
                                        <tr>
                                            <th>Kunde</th>
                                            <th>Status_PVA</th>
                                            <th>Solar Module</th>
                                            <th>AngebotSumme</th>
                                            <th>Datum</th>
                                            <th>Aktion</th>
                                            <th>Angebot Nummer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for vertrieb_angebot in angebots %}
                                        
                                        {% if vertrieb_angebot.angebot_id_assigned and vertrieb_angebot.status != "abgelehnt" and vertrieb_angebot.status != "abgelaufen" and vertrieb_angebot.name != "------" and vertrieb_angebot.status != "storniert" and vertrieb_angebot.status_pva != "Endabnahme erfolgt" and vertrieb_angebot.status_pva != "beauftragt" and vertrieb_angebot.status_pva != "" %}
                                        <tr>
                                            <td>{{ vertrieb_angebot.name }}</td>
                                            <td>{{ vertrieb_angebot.status_pva }}
                                                <td>
                                                    <h5 class="font-16 my-1 fw-normal link-warning">{{ vertrieb_angebot.solar_module }}  |  {{ vertrieb_angebot.modulanzahl }} </h5>
                                                    {% if vertrieb_angebot.anzOptimizer > 0 %}
                                                    <span class="text-warning font-13">Optimierer: {{ vertrieb_angebot.anzOptimizer }}</span> <br>
                                                    {% endif %}
                                                    {% if vertrieb_angebot.anz_speicher > 0 %}
                                                    <span class="text-warning font-13">Batteriespeicher: {{ vertrieb_angebot.anz_speicher }} </span> <br>
                                                    {% endif %}
                                                    {% if vertrieb_angebot.notstrom %}
                                                    <span class="text-warning font-13">Notstrom inklusive</span> <br>
                                                    {% endif %}
                                                    {% if vertrieb_angebot.wallbox %}
                                                    <span class="text-warning font-13">WallBox inklusive: {{ vertrieb_angebot.wallboxtyp }} </span> <br>
                                                    {% endif %}
                                                    {% if vertrieb_angebot.elwa %}
                                                    <span class="text-warning font-13">Elwa inklusive</span> <br>
                                                    {% endif %}
                                                    {% if vertrieb_angebot.thor %}
                                                    <span class="text-warning font-13">Thor inklusive</span>
                                                    {% endif %}
                                                </td>
                                            
                                            <td>{{ vertrieb_angebot.angebotsumme|format_price }}</td>
                                            <td>{{ vertrieb_angebot.anfrage_vom }}</td>
                                            
                                            <td>
                                            {% if vertrieb_angebot.status_pva == "in Prüfung" %} 
                                                <a href="{% url 'vertrieb_interface:edit_ticket' vertrieb_angebot.angebot_id %}" class="btn btn-outline-success rounded-pill btn-sm">Ticket erstellen</a>
                                            {% elif vertrieb_angebot.status_pva == "in Planung" %}
                                                <a href="{% url 'vertrieb_interface:edit_ticket' vertrieb_angebot.angebot_id %}" class="btn btn-outline-success rounded-pill btn-sm">Ticket erstellen</a>
                                            {% elif vertrieb_angebot.status_pva == "projektiert"%}
                                                <a href="{% url 'vertrieb_interface:edit_ticket' vertrieb_angebot.angebot_id %}" class="btn btn-outline-success rounded-pill btn-sm">Ticket erstellen</a>
                                            {% elif vertrieb_angebot.status_pva == "in Bau" %}
                                                <a href="{% url 'vertrieb_interface:edit_ticket' vertrieb_angebot.angebot_id %}" class="btn btn-outline-success rounded-pill btn-sm">Ticket erstellen</a>
                                            {% elif vertrieb_angebot.status_pva == "abgeschlossen"%}
                                                <a href="{% url 'vertrieb_interface:edit_ticket' vertrieb_angebot.angebot_id %}" class="btn btn-outline-success rounded-pill btn-sm">Ticket erstellen</a>

                                            {% else %}
                                                <button href="{% url 'vertrieb_interface:edit_ticket' vertrieb_angebot.angebot_id %}" class="btn btn-outline-danger rounded-pill btn-sm" disabled>Ticket erstellen</button>
                                            {% endif %}
                                            </td>
                                             {% if vertrieb_angebot.angebot_id_assigned %}
                                            <td>{{ vertrieb_angebot.angebot_id }}</td>
                                            {% else %}
                                            <td> noch nicht zugeordnet </td>
                                            {% endif %}
                                            
                                                
                                        </tr>
                                        {% endif %}
                                        {% empty %}
                                            <tr>
                                                <td colspan="9">No orders found.</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <script>document.write(new Date().getFullYear())</script> © Juno-Solar Home 
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end footer-links d-none d-md-block">
                            <a type="submit" href="javascript:void(0)" id="send_support_message">Support</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="d-print-none mt-4">
            <div class="text-end">
                <div id="success-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content modal-filled bg-success">
                            <div class="modal-body p-4">
                                <div class="text-center">
                                    <i class="ri-check-line h1"></i>
                                    <h4 class="mt-2">Gut gemacht!</h4>
                                    <p class="mt-3">Email support message wurde erfolgreich versendet!</p>
                                    <button type="button" class="btn btn-light my-2" data-bs-dismiss="modal">Weiter</button>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
$(document).ready(function() {
    // Function to handle tab actions
    function handleTabs() {
        // Get the previously active tab from local storage
        var activeTab = localStorage.getItem('activeTab');

        // If there's an active tab stored, activate it and then remove it from local storage
        if (activeTab) {
            $('[href="' + activeTab + '"]').tab('show');
            localStorage.removeItem('activeTab');  // Deleting the activeTab item from local storage
        }

        // When any tab is clicked, save it to the local storage
        $('.nav-tabs a').on('click', function() {
            var tabId = $(this).attr('href');
            localStorage.setItem('activeTab', tabId);
        });
    }

    // Call the handleTabs function
    handleTabs();
});
</script>
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    document.getElementById('send_support_message').addEventListener('click', function() {
        var csrfToken = getCookie('csrftoken'); 
        fetch('{% url 'vertrieb_interface:send_support_message' %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({})
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            if (data.status === 'success') {
                $('#success-alert-modal').modal('show');
            }
        });
    });
</script>
{% endblock %}
{% block extra_js %}
<script src="{% static 'assets/js/vendor.min.js' %}"></script>
<script src="{% static 'assets/vendor/highlightjs/highlight.pack.min.js' %}"></script>
<script src="{% static 'assets/vendor/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/hyper-syntax.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-fixedcolumns-bs5/js/fixedColumns.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>
<script src="{% static 'assets/vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'assets/vendor/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'assets/vendor/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script src="{% static 'assets/js/pages/demo.datatable-init.js' %}"></script>
{% endblock %}
