{% extends 'vertrieb/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block head %}
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <script src="{% static 'assets/js/hyper-config.js' %}"></script>
        <link href="{% static 'assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/app-saas.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />  
{% endblock %}
{% block content %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                        </div>
                        
                        <h4 class="page-title">PDF Angebote von {{ vertrieb_angebot.user.first_name}}</h4>
                    </div>
                </div>
            </div>      
                        
                       <!-- start page title -->
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card d-block">
                        <div class="card-body">

                                        
                                        <div class="table-container">
                                            <table id="scroll-horizontal-datatable" class="table w-100 nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Kundennumer</th>
                                                    <th>Angebot ID</th>
                                                    <th>Zugang</th>
                                                    <th>Status</th>
                                                    <th>Angebot Status</th>
                                                    <th>Kunde</th>
                                                    <th>Datum</th>
                                                    <th>Link</th>
                                                    <th>Benutzer Ang PDF</th>
                                                    <th>Admin Ang PDF</th>
                                                    <th>Ticket PDF</th>
                                                    <th>Kalkulation PDF</th>

                                                    
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for vertrieb_angebot in angebots %}
                                                
                                                    <tr>
                                                        <td>{{ vertrieb_angebot.zoho_kundennumer }}</td>
                                                        <td>{{ vertrieb_angebot.angebot_id }}</td>
                                                        <td>
                                                        <form method="POST" action="{% url 'adminfeautures:update_admin_angebot' user_id=user.pk angebot_id=vertrieb_angebot.angebot_id %}">
                                                                {% csrf_token %} 
                                                            <button class="btn btn-secondary toggle-lock" type="button" data-id="{{ vertrieb_angebot.angebot_id }}" data-is-locked="{{ vertrieb_angebot.is_locked }}">
                                                                {{ vertrieb_angebot.is_locked|yesno:"Unlock,Lock" }}
                                                            </button>
                                                        </form> 
                                                            <script>
                                                                document.querySelectorAll('.toggle-lock').forEach((btn) => {
                                                                    btn.addEventListener('click', (e) => {
                                                                        let angebot_id = e.target.getAttribute('data-id');
                                                                        let isLocked = e.target.getAttribute('data-is-locked') === 'True';
                                                                        let user_id = 1; // replace this with the correct user_id
                                                                
                                                                        fetch(`${angebot_id}/`, {
                                                                            method: 'POST',
                                                                            headers: {
                                                                                'X-CSRFToken': getCookie('csrftoken'),
                                                                                'Content-Type': 'application/json'
                                                                            },
                                                                            body: JSON.stringify({is_locked: !isLocked})
                                                                        }).then((response) => {
                                                                            if (response.ok) {
                                                                                e.target.setAttribute('data-is-locked', !isLocked);
                                                                                e.target.textContent = !isLocked ? 'Unlock' : 'Lock';
                                                                            } else {
                                                                                alert('Error: Could not update the lock status.');
                                                                            }
                                                                        });
                                                                    });
                                                                });
                                                                
                                                                // Function to get a cookie by name, used to fetch the CSRF token
                                                                function getCookie(name) {
                                                                    let cookieValue = null;
                                                                    if (document.cookie && document.cookie !== '') {
                                                                        let cookies = document.cookie.split(';');
                                                                        for (let i = 0; i < cookies.length; i++) {
                                                                            let cookie = cookies[i].trim();
                                                                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                                                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                                                break;
                                                                            }
                                                                        }
                                                                    }
                                                                    return cookieValue;
                                                                }
                                                                </script>
                                                        </td>
                                                        {% if vertrieb_angebot.is_locked %}
                                                        <td>
                                                        <span class="badge bg-danger rounded-pill">Nein</span>
                                                        </td>
                                                        {% endif %}

                                                        {% if not vertrieb_angebot.is_locked %}
                                                        <td>
                                                        <span class="badge bg-success rounded-pill">Ja</span>
                                                        </td>
                                                        {% endif %}
                                                    
                                                        <td>{{ vertrieb_angebot.status }}</td>
                                                        <td>{{ vertrieb_angebot.name }}</td>
                                                        <td>{{ vertrieb_angebot.anfrage_vom }}</td>
                                                        <td>
                                                            {% if vertrieb_angebot.angebot_id_assigned %}
                                                            <a href="{% url 'vertrieb_interface:edit_angebot' vertrieb_angebot.angebot_id %}" class="btn btn-primary">Zeigen</a>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if vertrieb_angebot.angebot_id_assigned %}
                                                            <a href="{% url 'vertrieb_interface:create_angebot_pdf_user' vertrieb_angebot.angebot_id %}" class="btn btn-primary">PDF erstellen</a>
                                                            {% endif %}                 
                                                        </td>
                                                        <td>
                                                            {% if vertrieb_angebot.angebot_id_assigned %}
                                                            <a href="{% url 'vertrieb_interface:create_angebot_pdf' vertrieb_angebot.angebot_id %}" class="btn btn-primary">PDF erstellen</a>
                                                            {% endif %}
                                                        </td>
                                                        <td> 
                                                            {% if vertrieb_angebot.angebot_id_assigned %}
                                                            <a href="{% url 'vertrieb_interface:create_ticket_pdf' vertrieb_angebot.angebot_id %}"  class="btn btn-outline-info btn-sm">erstellen</a>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if vertrieb_angebot.angebot_id_assigned %}
                                                            <a href="{% url 'vertrieb_interface:create_calc_pdf' vertrieb_angebot.angebot_id %}"  class="btn btn-outline-info btn-sm">erstellen</a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                
                                                {% endfor %}
                                            </tbody>
                                            </table>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <script>document.write(new Date().getFullYear())</script> © Juno-Solar Home 
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-end footer-links d-none d-md-block">
                                        <a href="javascript: void(0);">Info</a>
                                        <a href="javascript: void(0);">Support</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            

{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    $('#invoiceTable').DataTable();
} );
</script>
{% endblock %}
{% block extra_js %}
<script src="{% static 'assets/js/vendor.min.js' %}"></script>

<!-- Code Highlight js -->
<script src="{% static 'assets/vendor/highlightjs/highlight.pack.min.js' %}"></script>
<script src="{% static 'assets/vendor/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/hyper-syntax.js' %}"></script>

<!-- Datatables js -->
<script src="{% static 'assets/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-fixedcolumns-bs5/js/fixedColumns.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>
<!-- Daterangepicker js -->
<script src="{% static 'assets/vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'assets/vendor/daterangepicker/daterangepicker.js' %}"></script>

<!-- Apex Charts js -->
<script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>

<!-- Vector Map js -->
<script src="{% static 'assets/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'assets/vendor/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js' %}"></script>

<!-- Dashboard App js -->

<!-- App js -->
<script src="{% static 'assets/js/app.min.js' %}"></script>
<!-- Datatable Demo Aapp js -->
<script src="{% static 'assets/js/pages/demo.datatable-init.js' %}"></script>
{% endblock %}
</body>
</html> 
