{% extends 'vertrieb/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<script>
    function deleteSelectedAngebots() {
    let userId = "{{ user_id }}";  // Directly interpolate the user_id from the template
    let selectedAngebotIds = [];
    document.querySelectorAll('.angebot-checkbox:checked').forEach(function(checkbox) {
        selectedAngebotIds.push(checkbox.value);
    });

    fetch('/user/' + userId + '/orders/delete-selected/', {
        method: 'POST',
        body: JSON.stringify({ selected_angebot_ids: selectedAngebotIds }),
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.message === "Selected Angebots deleted successfully!") {
            location.reload();
        }
    });
}

</script>
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                        </div>
                        
                        <h4 class="page-title">PDF Angebote von {{ vertrieb_angebot.user.first_name}}</h4>
                        
                        

                    </div>
                </div>
            </div>      
                        
                       <!-- start page title -->
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card d-block">
                        <div class="card-body">

                                        
                                        <div class="table-container">
                                            <table id="scroll-horizontal-datatable" class="table w-100 nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Select</th>
                                                    <th>Kundennumer</th>
                                                    <th>Angebot ID</th>
                                                    <th>Zugang</th>
                                                    <th>Bearbeitbar</th>
                                                    <th>Angebot Status</th>
                                                    <th>Kunde</th>
                                                    <th>Datum</th>
                                                    <th>Entfernen</th>
                                                    <th>Angebot PDF</th>
                                                    <th>Ticket PDF</th>
                                                    <th>Kalkulation PDF</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for vertrieb_angebot in angebots %}
                                                
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" class="angebot-checkbox" value="{{ vertrieb_angebot.angebot_id }}">
                                                        </td>
                                                        <td>{{ vertrieb_angebot.zoho_kundennumer }}</td>
                                                        
                                                            {% if vertrieb_angebot.angebot_id_assigned %}
                                                            <td>{{ vertrieb_angebot.angebot_id }}</td>
                                                            {% else %}
                                                            <td> noch nicht zugeordnet </td>
                                                            {% endif %}
                                                        <td>
                                                        <form method="POST" action="{% url 'adminfeautures:update_admin_angebot' user_id=user.pk angebot_id=vertrieb_angebot.angebot_id %}">
                                                                {% csrf_token %} 
                                                            <button class="btn btn-outline-primary rounded-pill toggle-lock" type="button" data-id="{{ vertrieb_angebot.angebot_id }}" data-is-locked="{{ vertrieb_angebot.is_locked }}">
                                                                {{ vertrieb_angebot.is_locked|yesno:"Unlock,Lock" }}
                                                            </button>
                                                        </form> 
                                                            <script>
                                                                document.querySelectorAll('.toggle-lock').forEach((btn) => {
                                                                    btn.addEventListener('click', (e) => {
                                                                        let angebot_id = e.target.getAttribute('data-id');
                                                                        let isLocked = e.target.getAttribute('data-is-locked') === 'True';
                                                                        let user_id = 1; // replace this with the correct user_id
                                                                
                                                                        fetch(`${angebot_id}/`, {
                                                                            method: 'POST',
                                                                            headers: {
                                                                                'X-CSRFToken': getCookie('csrftoken'),
                                                                                'Content-Type': 'application/json'
                                                                            },
                                                                            body: JSON.stringify({is_locked: !isLocked})
                                                                        }).then((response) => {
                                                                            if (response.ok) {
                                                                                e.target.setAttribute('data-is-locked', !isLocked);
                                                                                e.target.textContent = !isLocked ? 'Unlock' : 'Lock';
                                                                            } else {
                                                                                alert('Error: Could not update the lock status.');
                                                                            }
                                                                        });
                                                                    });
                                                                });
                                                                
                                                                // Function to get a cookie by name, used to fetch the CSRF token
                                                                function getCookie(name) {
                                                                    let cookieValue = null;
                                                                    if (document.cookie && document.cookie !== '') {
                                                                        let cookies = document.cookie.split(';');
                                                                        for (let i = 0; i < cookies.length; i++) {
                                                                            let cookie = cookies[i].trim();
                                                                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                                                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                                                break;
                                                                            }
                                                                        }
                                                                    }
                                                                    return cookieValue;
                                                                }
                                                                </script>
                                                        </td>
                                                        {% if vertrieb_angebot.is_locked %}
                                                        <td>
                                                        <span class="badge bg-danger rounded-pill">Nein</span>
                                                        </td>
                                                        {% endif %}

                                                        {% if not vertrieb_angebot.is_locked %}
                                                        <td>
                                                        <span class="badge bg-success rounded-pill">Ja</span>
                                                        </td>
                                                        {% endif %}
                                                    
                                                        
                                            {% if vertrieb_angebot.status == "bekommen" %}
                                                <td class="link-warning">
                                                    {{ vertrieb_angebot.status }}
                                                </td>
                                                {% elif vertrieb_angebot.status == "angenommen" %}
                                                <td class="link-success">
                                                    {{ vertrieb_angebot.status }}
                                                </td>
                                                {% elif vertrieb_angebot.status == "abgelaufen" or vertrieb_angebot.status == "abgelehnt" %}
                                                <td class="link-danger">
                                                    {{ vertrieb_angebot.status }}
                                                </td>
                                                {% elif vertrieb_angebot.status == "in Kontakt" or vertrieb_angebot.status == "Kontaktversuch" %}
                                                <td class="link-primary">
                                                    {{ vertrieb_angebot.status }}
                                                </td>
                                                {% else %}
                                                <td>
                                                    {{ vertrieb_angebot.status }}
                                                </td>
                                                {% endif %}
                                            
                                                        <td>{{ vertrieb_angebot.name }}</td>
                                                        <td>{{ vertrieb_angebot.anfrage_vom }}</td>
                                                        
                                                        <td>
                                                            <button type="button" class="btn btn-outline-danger rounded-pill" data-bs-toggle="modal" data-bs-target="#info-alert-modal-{{ vertrieb_angebot.angebot_id }}">Entfernen</button>

                                                            <div id="info-alert-modal-{{ vertrieb_angebot.angebot_id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered">
                                                                    <div class="modal-content">
                                                                        <div class="modal-body p-4 m-1">
                                                                            <div class="text-center">
                                                                                <i class="ri-information-line h1 text-info"></i>
                                                                                <h3 class="mt-2">Hinweis!</h3>
                                                                                <p class="mt-3 p3">Wollen Sie das Angebot mit der ID {{ vertrieb_angebot.angebot_id }}</p> 
                                                                                <p class="mt-3 p3">wirklich entfernen? Nach diesem Schritt kann es </p>
                                                                                <p class="mt-3 p3">nicht wiederhergestellt werden.</p>
                                                                                <form method="post" action="{% url 'adminfeautures:delete_angebot' user_id=vertrieb_angebot.user.id angebot_id=vertrieb_angebot.angebot_id %}">
                                                                                    {% csrf_token %}
                                                                                    <button type="submit" class="btn btn-info my-2">Weiter...</button>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- /.modal-content -->
                                                                </div><!-- /.modal-dialog -->
                                                            </div>
                                                            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                                        </td>

                                                        <td>
                                                            {% if vertrieb_angebot.angebot_id_assigned %}
                                                            <a href="{% url 'vertrieb_interface:create_angebot_pdf_user' vertrieb_angebot.angebot_id %}" class="btn btn-outline-info rounded-pill">AN erstellen</a>
                                                            {% endif %}                 
                                                        </td>
                                                        <td>
                                                            {% if vertrieb_angebot.angebot_id_assigned %}
                                                            <a href="{% url 'vertrieb_interface:serve_pdf' vertrieb_angebot.angebot_id %}" class="btn btn-outline-info rounded-pill">AN ansehen</a>
                                                            {% endif %}                 
                                                        </td>
                                                        <td>
                                                            {% if vertrieb_angebot.angebot_id_assigned %}
                                                            <a href="{% url 'vertrieb_interface:create_calc_pdf' vertrieb_angebot.angebot_id %}"  class="btn btn-outline-info rounded-pill">Kalkulation erstellen</a>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if vertrieb_angebot.angebot_id_assigned %}
                                                            <a href="{% url 'vertrieb_interface:serve_calc_pdf' vertrieb_angebot.angebot_id %}"  class="btn btn-outline-info rounded-pill">Kalkulation ansehen</a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                
                                                {% endfor %}
                                            </tbody>
                                            </table>
                                            <div>Debug User ID: {{ user_id }}</div>
                                            <input type="hidden" id="userId" value="{{ user_id }}">

                                            <button onclick="deleteSelectedAngebots()">Delete Selected</button>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <script>document.write(new Date().getFullYear())</script> © Juno-Solar Home 
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-end footer-links d-none d-md-block">
                                        <a href="javascript: void(0);">Info</a>
                                        <a href="javascript: void(0);">Support</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
            

{% endblock %}
{% block javascript %}

{% endblock %}
{% block extra_js %}
<script src="{% static 'assets/js/vendor.min.js' %}"></script>
<script src="{% static 'assets/vendor/highlightjs/highlight.pack.min.js' %}"></script>
<script src="{% static 'assets/vendor/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/hyper-syntax.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-fixedcolumns-bs5/js/fixedColumns.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>
<script src="{% static 'assets/vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'assets/vendor/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'assets/vendor/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script src="{% static 'assets/js/pages/demo.datatable-init.js' %}"></script>
{% endblock %}