{% extends 'vertrieb/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block head %}
    <script src="{% static 'assets/js/hyper-config.js' %}"></script>
    <link href="{% static 'assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/app-saas.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />  
{% endblock %}
{% block content %}
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right"></div>
                            <h4 class="page-title">PDF Angebote</h4>
                        </div>
                    </div>
                </div>           
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card d-block">
                        <div class="card-body">
                            <div class="table-container">
                                <table id="state-saving-datatable" class="table activate-select dt-responsive nowrap w-100">
                                    <thead>
                                        <tr>
                                            <th>Kundennumer</th>
                                            <th>Kunde</th>
                                            <th>Angebot ID</th>
                                            <th>Angebot Status</th>
                                            <th>Angebot bekommen am:</th>
                                            <th>Datum</th>
                                            
                                            <th>Link</th>
                                            <th>Angebot PDF</th>
                                            <th>Ticket PDF</th>
                                            <th>Kalkulation PDF</th>
                                            <th>Bearbeitbar</th>
                                            <th>ZOHO ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for vertrieb_angebot in angebots %}
                                        <tr>
                                            <td>{{ vertrieb_angebot.zoho_kundennumer }}</td>
                                            <td>{{ vertrieb_angebot.name }}</td>

                                            {% if vertrieb_angebot.angebot_id_assigned %}
                                            <td>{{ vertrieb_angebot.angebot_id }}</td>
                                            {% else %}
                                            <td> noch nicht zugeordnet </td>
                                            {% endif %}
                                            
                                            <td>{{ vertrieb_angebot.status }}</td>
                                            
                                            <td>
                                                {% if vertrieb_angebot.status == "bekommen" %} 
                                                {{ vertrieb_angebot.status_change_date }}
                                                {% endif %}
                                            </td>
                                            <td>{{ vertrieb_angebot.anfrage_vom }}</td>
                                            
                                            <td>
                                                <a href="{% url 'vertrieb_interface:edit_angebot' vertrieb_angebot.angebot_id %}" class="btn btn-outline-info btn-sm">Öffnen</a>
                                            </td>
                                            <td>
                                                {% if vertrieb_angebot.is_locked %}
                                                <a href="{% url 'vertrieb_interface:create_angebot_pdf_user' vertrieb_angebot.angebot_id %}" class="btn btn-outline-info btn-sm">erstellen</a>
                                                {% endif %}
                                            </td>
                                            
                                            <td> 
                                                {% if vertrieb_angebot.angebot_id_assigned %}
                                                <a href="{% url 'vertrieb_interface:create_ticket_pdf' vertrieb_angebot.angebot_id %}"  class="btn btn-outline-info btn-sm">erstellen</a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if vertrieb_angebot.angebot_id_assigned %}
                                                <a href="{% url 'vertrieb_interface:create_calc_pdf' vertrieb_angebot.angebot_id %}"  class="btn btn-outline-info btn-sm">erstellen</a>
                                                {% endif %}
                                            </td>
                                            
                                            
                                                {% if vertrieb_angebot.is_locked %}
                                                <td>
                                                <span class="badge bg-danger rounded-pill">Nein</span>
                                                </td>
                                                {% endif %}

                                                {% if not vertrieb_angebot.is_locked %}
                                                <td>
                                                <span class="badge bg-success rounded-pill">Ja</span>
                                                </td>
                                                {% endif %}
                                                <td> {{ vertrieb_angebot.zoho_id }}
                                        </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="9">No orders found.</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <script>document.write(new Date().getFullYear())</script> © Juno-Solar Home 
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end footer-links d-none d-md-block">
                            <a type="submit" href="javascript:void(0)" id="send_support_message">Support</a>
                            <div class="d-print-none mt-4">
                                <div class="text-end">
                                    <div id="success-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content modal-filled bg-success">
                                                <div class="modal-body p-4">
                                                    <div class="text-center">
                                                        <i class="ri-check-line h1"></i>
                                                        <h4 class="mt-2">Gut gemacht!</h4>
                                                        <p class="mt-3">Email support message wurde erfolgreich versendet!</p>
                                                        <button type="button" class="btn btn-light my-2" data-bs-dismiss="modal">Weiter</button>
                                                    </div>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div>
                                    <script>
                                        function getCookie(name) {
                                            let cookieValue = null;
                                            if (document.cookie && document.cookie !== '') {
                                                const cookies = document.cookie.split(';');
                                                for (let i = 0; i < cookies.length; i++) {
                                                    const cookie = cookies[i].trim();
                                                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                        break;
                                                    }
                                                }
                                            }
                                            return cookieValue;
                                        }

                                        document.getElementById('send_support_message').addEventListener('click', function() {
                                            var csrfToken = getCookie('csrftoken'); 
                                            fetch('{% url 'vertrieb_interface:send_support_message' %}', {
                                                method: 'POST',
                                                headers: {
                                                    'Content-Type': 'application/json',
                                                    'X-CSRFToken': csrfToken
                                                },
                                                body: JSON.stringify({})
                                            })
                                            .then(response => response.json())
                                            .then(data => {
                                                console.log(data);
                                                if (data.status === 'success') {
                                                    $('#success-alert-modal').modal('show');
                                                }
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
{% endblock %}
{% comment %} <script>
$(document).ready(function() {
    $('#invoiceTable').DataTable();
} );
</script> {% endcomment %}
{% block extra_js %}
<script src="{% static 'assets/js/vendor.min.js' %}"></script>
<script src="{% static 'assets/vendor/highlightjs/highlight.pack.min.js' %}"></script>
<script src="{% static 'assets/vendor/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/hyper-syntax.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-fixedcolumns-bs5/js/fixedColumns.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>
<script src="{% static 'assets/vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'assets/vendor/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'assets/vendor/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script src="{% static 'assets/js/pages/demo.datatable-init.js' %}"></script>
{% endblock %}
